manage_sensor_data.json
[{"id":"c5716b29.1b8d08","type":"tab","label":"Manage App Data","disabled":false,"info":""},{"id":"6d20a8f4.8314a8","type":"tab","label":"Movement","disabled":false,"info":""},{"id":"f1b3d4cb.0d1cc8","type":"tab","label":"GET Token & query interval","disabled":false,"info":""},{"id":"fae45be8.323808","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d56f78de.4f2b18","type":"tab","label":"Smartwatch from production","disabled":false,"info":""},{"id":"f4361098.cb669","type":"tab","label":"LSTM","disabled":false,"info":""},{"id":"a67af8e0.5af0b8","type":"tab","label":"KMeans","disabled":false,"info":""},{"id":"632b2780.3d1068","type":"tab","label":"Gen excel","disabled":false,"info":""},{"id":"e9ef879c.b78f88","type":"subflow","name":"Obtain names","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"a73d7c0e.ab8ee"}]}],"out":[{"x":1720,"y":40,"wires":[{"id":"224a2f9.bae0fd","port":0}]}]},{"id":"89bc7338.6938d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"MySignal Data","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e141d1c.37a822","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":1},{"id":"34297bcf.49c1f4","type":"ui_group","z":"","name":"Group 1","tab":"2e141d1c.37a822","order":1,"disp":true,"width":"6","collapse":false},{"id":"26c0893f.cb2d26","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f88ec82.e47fa3","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"626de99d.b94838","type":"ui_group","z":"","name":"Graphs","tab":"152b6a37.d9e516","disp":false,"width":"13"},{"id":"51740a58.1745f4","type":"ui_group","z":"","name":"Control","tab":"152b6a37.d9e516","disp":false,"width":"3"},{"id":"152b6a37.d9e516","type":"ui_tab","z":"","name":"Sonoff","icon":"dashboard"},{"id":"dccfac91.4ca9f","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"giomi","name":"","usetls":false,"tls":""},{"id":"42e61cfd.62a074","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"giomi_AI","name":"","usetls":false,"tls":""},{"id":"80ecf501.8a2a98","type":"json-db-collection","z":"","name":"smartwatch","collection":"smartwatch","save":true},{"id":"1f9ac6e.441b039","type":"json-db-collection","z":"","name":"sphygmomanometer","collection":"sphygmomanometer","save":true},{"id":"2bfd177f.f20048","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"giomi_dev","name":"","usetls":false,"tls":""},{"id":"8e3b1056.76a5e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"giomi","name":"","usetls":false,"tls":""},{"id":"1cdb563a.fda52a","type":"ui_group","z":"","name":"LSTM","tab":"7f93d149.e5df2","disp":true,"width":"12","collapse":false},{"id":"c7fa53ab.78844","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"giomi","name":"","usetls":false,"tls":""},{"id":"7f93d149.e5df2","type":"ui_tab","z":"","name":"Supervised","icon":"dashboard","order":2},{"id":"50c13de9.29ac54","type":"key-value-store","z":"","filepath":"store.json","namespace":"","name":""},{"id":"c3518e54.fef6f","type":"ui_group","z":"","name":"Options","tab":"db6ecb3b.e7b1d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b9b9528.89b01c","type":"ui_group","z":"","name":"Graph","tab":"db6ecb3b.e7b1d8","order":2,"disp":true,"width":"15","collapse":false},{"id":"d14ed0c.b04f23","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"giomi","name":"","usetls":false,"tls":""},{"id":"db6ecb3b.e7b1d8","type":"ui_tab","z":"","name":"Unsupervised","icon":"dashboard","order":2},{"id":"a66d6f36.adc66","type":"ui_group","z":"","name":"XLSX generation","tab":"ca31a884.bcfc28","disp":true,"width":"6","collapse":false},{"id":"16cafc7d.165cb4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"giomi","name":"","usetls":false,"tls":""},{"id":"ca31a884.bcfc28","type":"ui_tab","z":"","name":"Report","icon":"dashboard"},{"id":"9d5b44e6.ec70f8","type":"config-log","z":"","logname":"node-red-giomi-logs","logdir":"/home/ubuntu/logs/","stamp":"local","logstyle":"json","logrotate":false,"logcompress":true,"logrotatecount":"5","logsize":"1000"},{"id":"9579645f.034558","type":"ui_group","z":"","name":"Select firmware","tab":"","order":2,"disp":true,"width":"10","collapse":false},{"id":"51cbaf3f.a268","type":"ui_group","z":"","name":"Train LSTM","tab":"7f93d149.e5df2","disp":true,"width":"6","collapse":false},{"id":"6ecfd772.72a6f8","type":"http request","z":"6d20a8f4.8314a8","name":"POST to influxdb","method":"POST","ret":"txt","url":"http://influxdb:8086/write?db=giomi","tls":"","x":870,"y":300,"wires":[[]]},{"id":"2592a9f7.c393c6","type":"http in","z":"6d20a8f4.8314a8","name":"POST Motion","url":"/post_movement","method":"post","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["756e2e7c.f17c8","f01366fc.db08d8","413f7624.467418"]]},{"id":"756e2e7c.f17c8","type":"http response","z":"6d20a8f4.8314a8","name":"","statusCode":"200","headers":{},"x":380,"y":180,"wires":[]},{"id":"413f7624.467418","type":"function","z":"6d20a8f4.8314a8","name":"convert for influxdb","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\n// var sample_data = msg.payload[0]\nvar config_data = msg.payload[1][0]\n\n// if(!msg.payload[0].device_mac){\n//     temp = msg.payload[0]\n//     //msg.payload[0] = msg.payload[1]\n//     //msg.payload[1] = temp\n    \n//     sample_data = msg.payload[1]\n//     config_data = temp\n// }\nvar sample_data = msg.payload[0]\nmsg = {}\nvar output = \"\"\n\n\n//var mac = sample_data.device_mac\n//var device_type = sample_data.device_type\nvar xPosition = sample_data.metrics.xPosition\nvar yPosition = sample_data.metrics.yPosition\nvar height = sample_data.metrics.height\nvar width = sample_data.metrics.width\nvar mac = sample_data.device_mac\n\nvar motion = 1\nvar timestamp = sample_data.timestamp + \"000000\"\n\nvar processInstanceId = config_data.processInstanceId\n//var processInstanceId = 1\n\noutput = \"movement,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" xPosition=\"+xPosition+\",yPosition=\"+yPosition+\",height=\"+height+\",width=\"+width+\",motion=\"+motion+\" \"+timestamp;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["cf49d9f6.61ed48","6ecfd772.72a6f8"]]},{"id":"cf49d9f6.61ed48","type":"debug","z":"6d20a8f4.8314a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":220,"wires":[]},{"id":"f01366fc.db08d8","type":"debug","z":"6d20a8f4.8314a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":170,"y":300,"wires":[]},{"id":"5b0af5a8.bf148c","type":"inject","z":"f1b3d4cb.0d1cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"25200","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["8e022b8c.c44128"]]},{"id":"6990621b.88bdec","type":"function","z":"f1b3d4cb.0d1cc8","name":"GET Token","func":"global.set(\"endpoint\", msg.payload.endpoint);\n\nusername = msg.payload.token_username;\npassword = msg.payload.token_password;\n\nmsg = {}\nmsg = {\n    method: \"POST\",\n    url: global.get(\"endpoint\")+\"/token\",\n    headers:{\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload: {\n        username,\n        password,\n        grant_type: \"password\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["ad421340.03f9a"]]},{"id":"ad421340.03f9a","type":"http request","z":"f1b3d4cb.0d1cc8","name":"","method":"use","ret":"obj","url":"","tls":"","x":650,"y":240,"wires":[["ce80057c.b8b838"]]},{"id":"dd81b232.c9c0f","type":"debug","z":"f1b3d4cb.0d1cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":220,"wires":[]},{"id":"ce80057c.b8b838","type":"function","z":"f1b3d4cb.0d1cc8","name":"Save Token, interval and credentials","func":"token = msg.payload.access_token\n\n\nglobal.set(\"access_token\", token)\nglobal.set(\"influxdb_query_interval\", 60)\n\nglobal.set(\"username_cloud\", \"ubuntu\")\nglobal.set(\"password_cloud\", \"G10m1R0m3\")\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["dd81b232.c9c0f"]]},{"id":"5d0a8dbf.719ec4","type":"http in","z":"c5716b29.1b8d08","name":"POST thermometer APP","url":"/post_thermometer_app","method":"post","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["861ed5c3.681368","40527d68.106684","4d8995e5.8e040c"]]},{"id":"861ed5c3.681368","type":"function","z":"c5716b29.1b8d08","name":"GET thermometer uuid","func":"//msg.original = msg.payload;\n\n//device_mac = msg.payload.device_mac\ndevice_mac = msg.payload.device_mac//.replace(/:/g,'-')\n\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer '+global.get(\"access_token\")\n};\nmsg.method = \"GET\";\nmsg.url = global.get(\"endpoint\")+\"/api/parameter/getByDevice?uuid=\" + device_mac;\n\n\nendpoint = global.get(\"endpoint\");\n\nif (endpoint !== \"\")\n    return msg;","outputs":1,"noerr":0,"x":420,"y":40,"wires":[["75e48dc3.a97464"]]},{"id":"75e48dc3.a97464","type":"http request","z":"c5716b29.1b8d08","name":"GET by device","method":"use","ret":"txt","url":"","tls":"","x":680,"y":40,"wires":[["22da56f.ec9c1aa"]]},{"id":"40527d68.106684","type":"join","z":"c5716b29.1b8d08","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":100,"wires":[["f84a15ea.197778","c828f8b0.9797a8"]]},{"id":"4d108ef1.ffb8a","type":"http request","z":"c5716b29.1b8d08","name":"","method":"use","ret":"txt","url":"","tls":"","x":1510,"y":100,"wires":[["460694bc.b0e02c"]]},{"id":"f84a15ea.197778","type":"debug","z":"c5716b29.1b8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":40,"wires":[]},{"id":"22da56f.ec9c1aa","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":830,"y":40,"wires":[["40527d68.106684"]]},{"id":"916e50d6.81cc7","type":"inject","z":"c5716b29.1b8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["8c12288e.12f238"]]},{"id":"ec3180fe.f848","type":"http request","z":"c5716b29.1b8d08","name":"/post_thermometer_app","method":"POST","ret":"txt","url":"http://localhost:1880/post_thermometer_app","tls":"","x":470,"y":660,"wires":[["7c36d003.5646a"]]},{"id":"7c36d003.5646a","type":"debug","z":"c5716b29.1b8d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":660,"wires":[]},{"id":"c828f8b0.9797a8","type":"function","z":"c5716b29.1b8d08","name":"","func":"msg.url = \"http://localhost:1880/post_thermometer\"\nmsg.method = \"POST\"\nmsg.headers = {}\nmsg.headers['X-Auth-User'] = global.get(\"username_cloud\")\nmsg.headers['X-Auth-Key'] = global.get(\"password_cloud\")\n\nvar usernameAndPassword = global.get(\"username_cloud\") + \":\" + global.get(\"password_cloud\");\nvar b64 = Buffer.from(usernameAndPassword).toString(\"base64\");\n\nmsg.headers = {Authorization: \"Basic \" + b64}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":100,"wires":[["4d3d5888.41c688"]]},{"id":"2c4ed839.968198","type":"function","z":"c5716b29.1b8d08","name":"GET balance uuid","func":"//msg.original = msg.payload;\n\n//device_mac = msg.payload.device_mac\ndevice_mac = msg.payload.device_mac//.replace(/:/g,'-')\n\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer '+global.get(\"access_token\")\n};\nmsg.method = \"GET\";\nmsg.url = global.get(\"endpoint\")+\"/api/parameter/getByDevice?uuid=\" + device_mac;\n\n\nendpoint = global.get(\"endpoint\");\n\nif (endpoint !== \"\")\n    return msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["e57d5062.83e88"]]},{"id":"e57d5062.83e88","type":"http request","z":"c5716b29.1b8d08","name":"GET by device","method":"use","ret":"txt","url":"","tls":"","x":680,"y":160,"wires":[["8132c2b2.ec7aa"]]},{"id":"984162a3.4cdb5","type":"join","z":"c5716b29.1b8d08","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":220,"wires":[["fad6fa80.8fb8b8","44719404.2cfabc"]]},{"id":"22d282c0.ba4afe","type":"http request","z":"c5716b29.1b8d08","name":"","method":"use","ret":"txt","url":"","tls":"","x":1590,"y":220,"wires":[["61da7697.76b6e8"]]},{"id":"fad6fa80.8fb8b8","type":"debug","z":"c5716b29.1b8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":160,"wires":[]},{"id":"8132c2b2.ec7aa","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":830,"y":160,"wires":[["984162a3.4cdb5"]]},{"id":"314b4f2.de4d6b","type":"inject","z":"c5716b29.1b8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":700,"wires":[["39868cf3.0f1a54"]]},{"id":"bf3e927a.720bc","type":"http request","z":"c5716b29.1b8d08","name":"/post_balance_app","method":"POST","ret":"txt","url":"http://localhost:1881/post_balance_app","tls":"","x":450,"y":700,"wires":[["faf7928d.c0dce"]]},{"id":"faf7928d.c0dce","type":"debug","z":"c5716b29.1b8d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":700,"wires":[]},{"id":"44719404.2cfabc","type":"function","z":"c5716b29.1b8d08","name":"","func":"msg.url = \"http://localhost:1880/post_balance\"\nmsg.method = \"POST\"\nmsg.headers = {}\nmsg.headers['X-Auth-User'] = global.get(\"username_cloud\")\nmsg.headers['X-Auth-Key'] = global.get(\"password_cloud\")\n\nvar usernameAndPassword = global.get(\"username_cloud\") + \":\" + global.get(\"password_cloud\");\nvar b64 = Buffer.from(usernameAndPassword).toString(\"base64\");\n\nmsg.headers = {Authorization: \"Basic \" + b64}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":220,"wires":[["dc49c4cd.564718"]]},{"id":"86ad8070.d105d","type":"http in","z":"c5716b29.1b8d08","name":"POST balance APP","url":"/post_balance_app","method":"post","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["2c4ed839.968198","984162a3.4cdb5","4d8995e5.8e040c"]]},{"id":"b4c7307c.ad5aa","type":"function","z":"c5716b29.1b8d08","name":"GET pulseoximeter uuid","func":"//msg.original = msg.payload;\n\n//device_mac = msg.payload.device_mac\ndevice_mac = msg.payload.device_mac//.replace(/:/g,'-')\n\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer '+global.get(\"access_token\")\n};\nmsg.method = \"GET\";\nmsg.url = global.get(\"endpoint\")+\"/api/parameter/getByDevice?uuid=\" + device_mac;\n\n\nendpoint = global.get(\"endpoint\");\n\nif (endpoint !== \"\")\n    return msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["19150f43.f9f871"]]},{"id":"19150f43.f9f871","type":"http request","z":"c5716b29.1b8d08","name":"GET by device","method":"use","ret":"txt","url":"","tls":"","x":680,"y":280,"wires":[["503390d0.24d13"]]},{"id":"a5e86a10.ce1f18","type":"join","z":"c5716b29.1b8d08","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":340,"wires":[["b89ebb25.0a4d58","d3adf8a7.b28cb8"]]},{"id":"8f17b268.45fb1","type":"http request","z":"c5716b29.1b8d08","name":"","method":"use","ret":"txt","url":"","tls":"","x":1530,"y":340,"wires":[["72af604b.6d429"]]},{"id":"b89ebb25.0a4d58","type":"debug","z":"c5716b29.1b8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":280,"wires":[]},{"id":"503390d0.24d13","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":830,"y":280,"wires":[["a5e86a10.ce1f18"]]},{"id":"268d339d.1a4b2c","type":"inject","z":"c5716b29.1b8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["7f431396.30973c"]]},{"id":"df099153.8f091","type":"http request","z":"c5716b29.1b8d08","name":"/post_pulseoximeter_app","method":"POST","ret":"txt","url":"http://localhost:1880/post_pulseoximeter_app","tls":"","x":470,"y":740,"wires":[["1075c7d4.d1be08"]]},{"id":"1075c7d4.d1be08","type":"debug","z":"c5716b29.1b8d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":740,"wires":[]},{"id":"d3adf8a7.b28cb8","type":"function","z":"c5716b29.1b8d08","name":"","func":"msg.url = \"http://localhost:1880/post_pulseoximeter\"\nmsg.method = \"POST\"\nmsg.headers = {}\nmsg.headers['X-Auth-User'] = global.get(\"username_cloud\")\nmsg.headers['X-Auth-Key'] = global.get(\"password_cloud\")\n\nvar usernameAndPassword = global.get(\"username_cloud\") + \":\" + global.get(\"password_cloud\");\nvar b64 = Buffer.from(usernameAndPassword).toString(\"base64\");\n\nmsg.headers = {Authorization: \"Basic \" + b64}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":340,"wires":[["1bc6a4c4.0cd3db"]]},{"id":"67228ca0.7b16d4","type":"http in","z":"c5716b29.1b8d08","name":"POST pulseoximeter APP","url":"/post_pulseoximeter_app","method":"post","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["b4c7307c.ad5aa","a5e86a10.ce1f18"]]},{"id":"df310988.ef2d58","type":"function","z":"c5716b29.1b8d08","name":"GET glucometer uuid","func":"//msg.original = msg.payload;\n\n//device_mac = msg.payload.device_mac\ndevice_mac = msg.payload.device_mac//.replace(/:/g,'-')\n\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer '+global.get(\"access_token\")\n};\nmsg.method = \"GET\";\nmsg.url = global.get(\"endpoint\")+\"/api/parameter/getByDevice?uuid=\" + device_mac;\n\n\nendpoint = global.get(\"endpoint\");\n\nif (endpoint !== \"\")\n    return msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["1e199b7b.9ab045"]]},{"id":"1e199b7b.9ab045","type":"http request","z":"c5716b29.1b8d08","name":"GET by device","method":"use","ret":"txt","url":"","tls":"","x":680,"y":400,"wires":[["22839602.d83e8a"]]},{"id":"954c12a9.34758","type":"join","z":"c5716b29.1b8d08","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":460,"wires":[["a38fb6f.5b1b148","dba41007.d83a3"]]},{"id":"28461d46.ff5c12","type":"http request","z":"c5716b29.1b8d08","name":"","method":"use","ret":"txt","url":"","tls":"","x":1550,"y":460,"wires":[["c032864b.43c968"]]},{"id":"a38fb6f.5b1b148","type":"debug","z":"c5716b29.1b8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":400,"wires":[]},{"id":"22839602.d83e8a","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":830,"y":400,"wires":[["954c12a9.34758"]]},{"id":"8670e42.b087e18","type":"inject","z":"c5716b29.1b8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":780,"wires":[["8051a58d.a7e178"]]},{"id":"62e43690.9e9308","type":"http request","z":"c5716b29.1b8d08","name":"/post_glucometer_app","method":"POST","ret":"txt","url":"http://localhost:1880/post_glucometer_app","tls":"","x":460,"y":780,"wires":[["ba99a5a0.7ab6a8"]]},{"id":"ba99a5a0.7ab6a8","type":"debug","z":"c5716b29.1b8d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":780,"wires":[]},{"id":"dba41007.d83a3","type":"function","z":"c5716b29.1b8d08","name":"","func":"msg.url = \"http://localhost:1880/post_glucometer\"\nmsg.method = \"POST\"\nmsg.headers = {}\nmsg.headers['X-Auth-User'] = global.get(\"username_cloud\")\nmsg.headers['X-Auth-Key'] = global.get(\"password_cloud\")\n\nvar usernameAndPassword = global.get(\"username_cloud\") + \":\" + global.get(\"password_cloud\");\nvar b64 = Buffer.from(usernameAndPassword).toString(\"base64\");\n\nmsg.headers = {Authorization: \"Basic \" + b64}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":460,"wires":[["a1b702d9.267f8"]]},{"id":"948703eb.e086c","type":"http in","z":"c5716b29.1b8d08","name":"POST glucometer APP","url":"/post_glucometer_app","method":"post","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["df310988.ef2d58","954c12a9.34758"]]},{"id":"ad670915.2efe48","type":"function","z":"c5716b29.1b8d08","name":"GET sphygmomanometer uuid","func":"//msg.original = msg.payload;\n\n//device_mac = msg.payload.device_mac\ndevice_mac = msg.payload.device_mac//.replace(/:/g,'-')\n\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer '+global.get(\"access_token\")\n};\nmsg.method = \"GET\";\nmsg.url = global.get(\"endpoint\")+\"/api/parameter/getByDevice?uuid=\" + device_mac;\n\n\nendpoint = global.get(\"endpoint\");\n\nif (endpoint !== \"\")\n    return msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["987d4d0d.90442"]]},{"id":"987d4d0d.90442","type":"http request","z":"c5716b29.1b8d08","name":"GET by device","method":"use","ret":"txt","url":"","tls":"","x":680,"y":520,"wires":[["8821dbc.5db7d28"]]},{"id":"ecc909b3.b9e4f8","type":"join","z":"c5716b29.1b8d08","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":580,"wires":[["7a177474.766fdc","66d1ba0.9b93e48"]]},{"id":"7a177474.766fdc","type":"debug","z":"c5716b29.1b8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":520,"wires":[]},{"id":"8821dbc.5db7d28","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":830,"y":520,"wires":[["ecc909b3.b9e4f8"]]},{"id":"43a8ec63.37d0d4","type":"inject","z":"c5716b29.1b8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":820,"wires":[["1d0365c5.06557a"]]},{"id":"3d007eed.1854e2","type":"http request","z":"c5716b29.1b8d08","name":"/post_sphygmomanometer_app","method":"POST","ret":"txt","url":"http://localhost:1880/post_sphygmomanometer_app","tls":"","x":490,"y":820,"wires":[["f4bc0114.349d8"]]},{"id":"f4bc0114.349d8","type":"debug","z":"c5716b29.1b8d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":820,"wires":[]},{"id":"66d1ba0.9b93e48","type":"function","z":"c5716b29.1b8d08","name":"","func":"msg.url = \"http://localhost:1880/post_sphygmomanometer\"\nmsg.method = \"POST\"\nmsg.headers = {}\nmsg.headers['X-Auth-User'] = global.get(\"username_cloud\")\nmsg.headers['X-Auth-Key'] = global.get(\"password_cloud\")\n\nvar usernameAndPassword = global.get(\"username_cloud\") + \":\" + global.get(\"password_cloud\");\nvar b64 = Buffer.from(usernameAndPassword).toString(\"base64\");\n\nmsg.headers = {Authorization: \"Basic \" + b64}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":580,"wires":[["1d1ee071.acdb2"]]},{"id":"ccb0d47c.f6be58","type":"http in","z":"c5716b29.1b8d08","name":"POST sphygmomanometer APP","url":"/post_sphygmomanometer_app","method":"post","upload":false,"swaggerDoc":"","x":150,"y":580,"wires":[["ad670915.2efe48","ecc909b3.b9e4f8"]]},{"id":"8c12288e.12f238","type":"function","z":"c5716b29.1b8d08","name":"","func":"timestamp = msg.payload\nmsg.payload = {\n    \"device_mac\": \"34:15:13:EE:D8:6E\",\n    \"timestamp\": timestamp,\n    \"metrics\":{\n        \"temperature\":\"37\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":660,"wires":[["ec3180fe.f848"]]},{"id":"39868cf3.0f1a54","type":"function","z":"c5716b29.1b8d08","name":"","func":"timestamp = msg.payload\nmsg.payload = {\n    \"device_mac\": \"34:15:13:EE:D8:6E\",\n    \"timestamp\": timestamp,\n    \"metrics\":{\n        \"weight\": \"100\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":700,"wires":[["bf3e927a.720bc"]]},{"id":"7f431396.30973c","type":"function","z":"c5716b29.1b8d08","name":"","func":"timestamp = msg.payload\nmsg.payload = {\n    \"device_mac\": \"34:15:13:EE:D8:6E\",\n    \"timestamp\": timestamp,\n    \"metrics\":{\n        \"spo2\": \"99\",\n        \"pulse\": \"61\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":740,"wires":[["df099153.8f091"]]},{"id":"8051a58d.a7e178","type":"function","z":"c5716b29.1b8d08","name":"","func":"timestamp = msg.payload\nmsg.payload = {\n    \"device_mac\": \"34:15:13:EE:D8:6E\",\n    \"timestamp\": timestamp,\n    \"metrics\":{\n        \"glucose\": \"115\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":780,"wires":[["62e43690.9e9308"]]},{"id":"1d0365c5.06557a","type":"function","z":"c5716b29.1b8d08","name":"","func":"timestamp = msg.payload\nmsg.payload = {\n    \"device_mac\": \"34:15:13:EE:D8:6E\",\n    \"timestamp\": timestamp,\n    \"metrics\":{\n        \"systolic\": 120,\n        \"diastolic\": 70\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":820,"wires":[["3d007eed.1854e2"]]},{"id":"3867fbb9.fb49b4","type":"function","z":"fae45be8.323808","name":"Align and query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nif(Array.isArray(msg.payload[0])){\n    temp = msg.payload[0]\n    \n    msg.payload[0] = msg.payload[1]\n    msg.payload[1] = temp\n}\n\nid = msg.payload[1][0].processInstanceId\n//interval = 30\ninterval = global.get(\"influxdb_query_interval\")\n\nmsg1 = {}\nmsg1.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\nmsg.payload[0].metric_name = \"temperature\"\n\nmsg.payload[0].metrics.temperature = parseFloat(msg.payload[0].metrics.temperature)\nreturn [msg1, msg]\n","outputs":2,"noerr":0,"x":420,"y":140,"wires":[["76af4b79.019a44"],["5ec22f39.251a1","22a205a.3c41dfa"]]},{"id":"5ec22f39.251a1","type":"function","z":"fae45be8.323808","name":"convert for influxdb","func":"//In payload[0] we have the sample and \n//in payload[1] the configuration (igcom)\n\nvar sample_data = msg.payload[0]\nvar processInstanceId = \"\"\n\nif(Array.isArray(msg.payload[1])){\n    processInstanceId = msg.payload[1][0].processInstanceId\n}\n\nmsg = {}\nvar output = \"\"\n\nvar mac = sample_data.device_mac\nvar device_type = sample_data.device_type\nvar temperature = sample_data.metrics.temperature\nvar timestamp = sample_data.timestamp + \"000000\"\n\noutput = \"temperature,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" temperature=\"+temperature+\" \"+timestamp;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["945125e6.553318"]]},{"id":"945125e6.553318","type":"http request","z":"fae45be8.323808","name":"POST to influxdb","method":"POST","ret":"txt","url":"http://influxdb:8086/write?db=giomi","tls":"","x":630,"y":200,"wires":[[]]},{"id":"76af4b79.019a44","type":"influxdb in","z":"fae45be8.323808","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":560,"y":60,"wires":[["380aefb6.b1d5a","22a205a.3c41dfa"]]},{"id":"380aefb6.b1d5a","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":60,"wires":[]},{"id":"16bfeeb1.1e1a51","type":"function","z":"fae45be8.323808","name":"Create Alarms","func":"function convert_name(name){\n    var out = \"\"\n    if(name == \"temperature\")   out = \"Temperatura\"\n    else if(name == \"pulse\")    out = \"Frequenza\"\n    else if(name == \"spo2\")     out = \"Ossigenazione\"\n    else if(name == \"weight\")   out = \"Peso\"\n    else if(name == \"glucose\")     out = \"Glicemia\"\n    else if(name == \"systolic\")     out = \"Pressione Sistolica\"\n    else if(name == \"diastolic\")     out = \"Pressione Diastolica\"\n    \n    return out\n}\n\n\n// msg.payload[0] dati istantanei\n// msg.payload[1] dati db\ngreenAlarms = [];\nyellowAlarms = [];\nredAlarms = [];\n\nmac = msg.payload[0][0].device_mac;\nmetric_alarms = []\n\n//pool = msg.payload[0][0].metrics; //initial pool of values\npool = msg.payload[0][0].metrics\nnode.send([null, null, {\"info\": 1, \"payload\":pool}])\nconf = msg.payload[0][1];\nnode.send([null, null, {\"info\": 2, \"payload\":conf}])\n//alarms = msg.payload[0][1][0].alarms;\nalarms = []\nalarmIdsToCheck = [];\nconf.forEach(function(e) {\n    e.alarms.forEach(function(a) {\n        a.alarmMetrics.forEach(function(m) {\n\n            if(pool[m.metric] !== undefined){\n                if (alarmIdsToCheck.indexOf(a.id) == -1){\n                    alarms.push(a)\n                    alarmIdsToCheck.push(a.id);\n                }\n            }\n        })\n    })\n})\nnode.send([null, null, {\"info\": 3, \"payload\":alarms}])\nmetric_alarms = alarms\n\n\ndataFromDB = msg.payload[1];\n\ndataFromDB.forEach(function(e) {\n    if (e.length === 0) return;\n    \n    metric = e[0];\n    \n    delete metric.time;\n\tdelete metric.mac;\n\tdelete metric.processInstanceId;\n    \n\tfor (var metricName in metric){\n\t    node.send([null, null, {\"info\": 5, \"payload\": metricName}]);\n\t    if (pool[metricName] === undefined) pool[metricName] = metric[metricName];\n\t}\n\n});\nnode.send([null, null, {\"info\": 4, \"payload\":pool}])\n//node.send([null, null, null, {\"payload\": pool}]);\n\n//node.send([null, null, null, {\"payload\": alarms}])\nalarms.forEach(function(alarm) {\n    if(alarm.isEnabled === true){   \n    \tvar needToRaiseAlarm = true;\n    \t\n        //node.send([null, null, null, {\"payload\": alarms.alarmMetrics}])\n    \t//alarm.dependencies.forEach(function(dependence) {\n    \tfor (let dependence of alarm.alarmMetrics) {\n    \t    metricName = dependence.metric;\n    \t\tif (pool[metricName] === undefined) { \n    \t\t\tneedToRaiseAlarm = false;\n    \t\t\tbreak;\n    \t\t}\n    \t}\n    \tnode.send([null, null, {\"info\": 6, \"payload\": alarm, \"need\": needToRaiseAlarm}]);\n    \tif (needToRaiseAlarm){\n        \talarm.alarmMetrics.forEach(function(dependence){\n        \t    let valueFromPool = pool[dependence.metric];\n        \t    node.send([null, null, {\"info\": 8, \"payload\": alarm, \"value\": valueFromPool, \"name\": dependence.metric, \"m\": dependence.thresholdMin, \"M\": dependence.thresholdMax}]);\n        \t    \n                //node.send([null,null,null, {payload: [valueFromPool,metricName,dependence]}])\n        \n        \t\tif (dependence.thresholdMin === 0 && valueFromPool <= dependence.thresholdMax) return\n        \t\tif (dependence.thresholdMax === 0 && valueFromPool >= dependence.thresholdMin) return\n        \t\tif (valueFromPool >= dependence.thresholdMin && valueFromPool <= dependence.thresholdMax) return\n        \n        \t\tneedToRaiseAlarm = false;\n        \t});\n        \n    \t}\n    \t\n        //node.send([null, null, null, {\"payload\": needToRaiseAlarm}])\n        \n        if (needToRaiseAlarm) {\n            node.send([null, null, {\"info\": 7, \"payload\": alarm}]);\n            result_string = \"(\"+alarm.name+\") \"\n            keys = Object.keys(pool)\n            keys.forEach(function(k){\n                \n                //---------\n                alarm.alarmMetrics.forEach(function(dependence) {\n                    if(dependence.metric == k){\n                //---------\n                \n                name = convert_name(k);\n                result_string += name+\": \"+ pool[k]+\" \";\n                \n                //---------\n                    }\n                });\n                //---------\n            });\n            \n            alarmToSend = {\n                //\"Endpoint\": conf[0].endpoint,\n                \"Endpoint\": global.get(\"endpoint\"),\n                //\"Result\": pool,\n                \"Result\": result_string,\n                //\"AlarmColor\": alarm.color,\n                \"alarmColor\": alarm.alarmColor,\n                \"ParameterId\": conf[0].id,\n                \"ProcessInstanceId\": conf[0].processInstanceId,\n                \"alarmId\": alarm.id,\n                \"emails\": alarm.emails,\n                \"smsNumbers\": alarm.smsNumbers\n            };\n            /*\n            if (alarm.color == 1) greenAlarms.push(alarmToSend);\n            else if (alarm.color == 2) yellowAlarms.push(alarmToSend);\n            else redAlarms.push(alarmToSend);\n            */\n            \n            if (alarm.alarmColor.id == 1) {\n                //if(greenAlarms.indexOf(alarmToSend) != -1)\n                var flag_green = true\n                for(var i=0;i<greenAlarms.length;i++){\n                    if(greenAlarms[i].alarmId == alarm.id){\n                        flag_green = false\n                        break\n                    }\n                }\n                if(flag_green)\n                    greenAlarms.push(alarmToSend);\n            }\n            else if (alarm.alarmColor.id == 2) {\n                //if(yellowAlarms.indexOf(alarmToSend) != -1)\n                    \n                var flag_yellow = true\n                for(var j=0;j<yellowAlarms.length;j++){\n                    if(yellowAlarms[j].alarmId == alarm.id){\n                        flag_yellow = false\n                        break\n                    }\n                }\n                if(flag_yellow)\n                    yellowAlarms.push(alarmToSend);\n            }\n            else {\n                //if(redAlarms.indexOf(alarmToSend) != -1)\n\n                var flag_red = true\n                for(var k=0;k<redAlarms.length;k++){\n                    if(redAlarms[k].alarmId == alarm.id){\n                        flag_red = false\n                        break\n                    }\n                }\n                if(flag_red)\n                    redAlarms.push(alarmToSend);\n            }\n        }\n    }\n});\n\n/*var msg_green = JSON.parse(JSON.stringify(msg));\nvar msg_yellow = JSON.parse(JSON.stringify(msg));\nvar msg_red = JSON.parse(JSON.stringify(msg));\n\nmsg_green.payload = greenAlarms;\nmsg_yellow.payload = yellowAlarms;\nmsg_red.payload = redAlarms;*/\nalertMsg = \"\";\nmetricNames = Object.keys(msg.payload[0][0].metrics);\n\nfor (let i = 0; i < metricNames.length; i ++){\n    alertMsg += \" \" + convert_name(metricNames[i]) + \": \" + msg.payload[0][0].metrics[metricNames[i]];\n}\n\nalertMsg += \" Hai bisogno di aiuto?\";\n            \nreturn [\n    {\"req\": msg.req, \"res\": msg.res, \"payload\": [...greenAlarms, ...yellowAlarms, ...redAlarms], \"mac\": mac, \"alertMsg\": alertMsg, \"reqbck\": msg.reqbck, \"resbck\": msg.resbck},\n    null, null];","outputs":3,"noerr":0,"x":1160,"y":580,"wires":[["efb8d8d1.330c08","f842a259.38164"],[],["69f772d2.2c337c"]]},{"id":"22a205a.3c41dfa","type":"join","z":"fae45be8.323808","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":140,"wires":[["16bfeeb1.1e1a51","bdaa3352.c245b"]]},{"id":"bdaa3352.c245b","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":140,"wires":[]},{"id":"8063b280.47998","type":"http in","z":"fae45be8.323808","name":"POST thermometer","url":"/post_thermometer","method":"post","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["3867fbb9.fb49b4","a7d26ba3.ddf628"]]},{"id":"e7a013a3.ca92d","type":"function","z":"fae45be8.323808","name":"Align and query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nif(Array.isArray(msg.payload[0])){\n    temp = msg.payload[0]\n    \n    msg.payload[0] = msg.payload[1]\n    msg.payload[1] = temp\n}\n\nid = msg.payload[1][0].processInstanceId\n//interval = 30\ninterval = global.get(\"influxdb_query_interval\")\n\nmsg1 = {}\nmsg1.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\nmsg.payload[0].metric_name = \"weight\"\n\nmsg.payload[0].metrics.weight = parseFloat(msg.payload[0].metrics.weight)\n\nreturn [msg1, msg]\n","outputs":2,"noerr":0,"x":360,"y":380,"wires":[["9d7d195e.dc5468"],["2f8d4f11.897ac","10cf6337.16c22d"]]},{"id":"2f8d4f11.897ac","type":"function","z":"fae45be8.323808","name":"convert for influxdb","func":"//In payload[0] we have the sample and \n//in payload[1] the configuration (igcom)\n\nvar sample_data = msg.payload[0]\nvar processInstanceId = \"\"\n\nif(Array.isArray(msg.payload[1])){\n    processInstanceId = msg.payload[1][0].processInstanceId\n}\n\nmsg = {}\nvar output = \"\"\n\nvar mac = sample_data.device_mac\nvar device_type = sample_data.device_type\nvar weight = sample_data.metrics.weight\nvar timestamp = sample_data.timestamp + \"000000\"\n\noutput = \"weight,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" weight=\"+weight+\" \"+timestamp;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["1dcca7ac.a57158"]]},{"id":"1dcca7ac.a57158","type":"http request","z":"fae45be8.323808","name":"POST to influxdb","method":"POST","ret":"txt","url":"http://influxdb:8086/write?db=giomi","tls":"","x":630,"y":440,"wires":[[]]},{"id":"9d7d195e.dc5468","type":"influxdb in","z":"fae45be8.323808","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":560,"y":300,"wires":[["6e04abf2.d5ce94","10cf6337.16c22d"]]},{"id":"f09908e0.6153c8","type":"http in","z":"fae45be8.323808","name":"POST balance","url":"/post_balance","method":"post","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["87ea6af7.034698","e7a013a3.ca92d","dfb4e5f7.e9bc78"]]},{"id":"87ea6af7.034698","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":320,"wires":[]},{"id":"10cf6337.16c22d","type":"join","z":"fae45be8.323808","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":380,"wires":[["eb5bad2b.35597","16bfeeb1.1e1a51"]]},{"id":"6e04abf2.d5ce94","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":300,"wires":[]},{"id":"eb5bad2b.35597","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":380,"wires":[]},{"id":"69b211da.70f91","type":"function","z":"fae45be8.323808","name":"Align and query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nif(Array.isArray(msg.payload[0])){\n    temp = msg.payload[0]\n    \n    msg.payload[0] = msg.payload[1]\n    msg.payload[1] = temp\n}\n\nid = msg.payload[1][0].processInstanceId\n//interval = 30\ninterval = global.get(\"influxdb_query_interval\")\n\nmsg1 = {}\nmsg1.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\nmsg.payload[0].metric_name = \"pulse\"\n\nmsg.payload[0].metrics.pulse = parseFloat(msg.payload[0].metrics.pulse)\nreturn [msg1, msg]\n","outputs":2,"noerr":0,"x":360,"y":620,"wires":[["5dd1eb4c.7279d4"],["5e3357ba.5720e8","ea11b1be.9cdb1"]]},{"id":"5e3357ba.5720e8","type":"function","z":"fae45be8.323808","name":"convert for influxdb","func":"//In payload[0] we have the sample and \n//in payload[1] the configuration (igcom)\n\nvar sample_data = msg.payload[0]\nvar processInstanceId = \"\"\n\nif(Array.isArray(msg.payload[1])){\n    processInstanceId = msg.payload[1][0].processInstanceId\n}\n\nmsg = {}\nvar output = \"\"\n\nvar mac = sample_data.device_mac\nvar device_type = sample_data.device_type\nvar pulse = sample_data.metrics.pulse\nvar spo2 = sample_data.metrics.spo2\nvar timestamp = sample_data.timestamp + \"000000\"\n\noutput1 = \"spo2,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" spo2=\"+spo2+\" \"+timestamp;\noutput2 = \"pulse,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" pulse=\"+pulse+\" \"+timestamp;\n\nnode.send({ payload: output1 });\nnode.send({ payload: output2 });","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["a60ae523.716638"]]},{"id":"a60ae523.716638","type":"http request","z":"fae45be8.323808","name":"POST to influxdb","method":"POST","ret":"txt","url":"http://influxdb:8086/write?db=giomi","tls":"","x":630,"y":680,"wires":[[]]},{"id":"5dd1eb4c.7279d4","type":"influxdb in","z":"fae45be8.323808","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":560,"y":540,"wires":[["29698f73.69a92","ea11b1be.9cdb1"]]},{"id":"7f14b70a.207478","type":"http in","z":"fae45be8.323808","name":"POST pulseoximeter","url":"/post_pulseoximeter","method":"post","upload":false,"swaggerDoc":"","x":110,"y":620,"wires":[["7a31ffbf.95559","69b211da.70f91","6dcaf284.14026c"]]},{"id":"7a31ffbf.95559","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":560,"wires":[]},{"id":"ea11b1be.9cdb1","type":"join","z":"fae45be8.323808","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":620,"wires":[["59fb4f35.ac254","16bfeeb1.1e1a51"]]},{"id":"29698f73.69a92","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":540,"wires":[]},{"id":"59fb4f35.ac254","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":620,"wires":[]},{"id":"16094ece.216451","type":"function","z":"fae45be8.323808","name":"Align and query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nif(Array.isArray(msg.payload[0])){\n    temp = msg.payload[0]\n    \n    msg.payload[0] = msg.payload[1]\n    msg.payload[1] = temp\n}\n\nid = msg.payload[1][0].processInstanceId\n//interval = 30\ninterval = global.get(\"influxdb_query_interval\")\n\nmsg1 = {}\nmsg1.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\nmsg.payload[0].metric_name = \"pressure\"\n\nreturn [msg1, msg]\n","outputs":2,"noerr":0,"x":340,"y":1100,"wires":[["460c0685.53add8"],["7811a870.4f0b28","c26a606c.43655"]]},{"id":"7811a870.4f0b28","type":"function","z":"fae45be8.323808","name":"convert for influxdb","func":"//In payload[0] we have the sample and \n//in payload[1] the configuration (igcom)\n\nvar sample_data = msg.payload[0]\nvar processInstanceId = \"\"\n\nif(Array.isArray(msg.payload[1])){\n    processInstanceId = msg.payload[1][0].processInstanceId\n}\n\nmsg = {}\nvar output = \"\"\n\nvar mac = sample_data.device_mac\nvar device_type = sample_data.device_type\nvar systolic = sample_data.metrics.systolic\nvar diastolic = sample_data.metrics.diastolic\nvar pulse = sample_data.metrics.pulse\nvar timestamp = sample_data.timestamp + \"000000\"\n\noutput1 = \"systolic,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" systolic=\"+systolic+\" \"+timestamp;\noutput2 = \"diastolic,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" diastolic=\"+diastolic+\" \"+timestamp;\n//output3 = \"pulse,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" pulse=\"+pulse+\" \"+timestamp;\n\nnode.send({ payload: output1 });\nnode.send({ payload: output2 });\n//node.send({ payload: output3 });","outputs":1,"noerr":0,"x":390,"y":1160,"wires":[["7c517025.16f1b"]]},{"id":"7c517025.16f1b","type":"http request","z":"fae45be8.323808","name":"POST to influxdb","method":"POST","ret":"txt","url":"http://influxdb:8086/write?db=giomi","tls":"","x":630,"y":1160,"wires":[[]]},{"id":"460c0685.53add8","type":"influxdb in","z":"fae45be8.323808","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":540,"y":1020,"wires":[["17049687.c3e889","c26a606c.43655"]]},{"id":"c851f1e4.50e3","type":"http in","z":"fae45be8.323808","name":"POST sphygmomanometer","url":"/post_sphygmomanometer","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1100,"wires":[["9603aa78.dcaed8","16094ece.216451","d9d0240b.5874d8"]]},{"id":"9603aa78.dcaed8","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":1000,"wires":[]},{"id":"c26a606c.43655","type":"join","z":"fae45be8.323808","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":1100,"wires":[["16bfeeb1.1e1a51","864dc6d6.6f3c58"]]},{"id":"17049687.c3e889","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":1020,"wires":[]},{"id":"3ea109d8.608a06","type":"function","z":"fae45be8.323808","name":"Align and query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nif(Array.isArray(msg.payload[0])){\n    temp = msg.payload[0]\n    \n    msg.payload[0] = msg.payload[1]\n    msg.payload[1] = temp\n}\n\nid = msg.payload[1][0].processInstanceId\n//interval = 30\ninterval = global.get(\"influxdb_query_interval\")\n\nmsg1 = {}\nmsg1.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\nmsg.payload[0].metric_name = \"glucose\"\n\nreturn [msg1, msg]\n","outputs":2,"noerr":0,"x":340,"y":860,"wires":[["e997d641.ae0738"],["7b442aa6.47fe24","eea7287.221d8d8"]]},{"id":"7b442aa6.47fe24","type":"function","z":"fae45be8.323808","name":"convert for influxdb","func":"//In payload[0] we have the sample and \n//in payload[1] the configuration (igcom)\n\nvar sample_data = msg.payload[0]\nvar processInstanceId = \"\"\n\nif(Array.isArray(msg.payload[1])){\n    processInstanceId = msg.payload[1][0].processInstanceId\n}\n\nmsg = {}\nvar output = \"\"\n\nvar mac = sample_data.device_mac\nvar device_type = sample_data.device_type\nvar glucose = sample_data.metrics.glucose\nvar timestamp = sample_data.timestamp + \"000000\"\n\noutput = \"glucose,processInstanceId=\"+processInstanceId+\",mac=\"+mac+\" glucose=\"+glucose+\" \"+timestamp;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["b21857f0.489488"]]},{"id":"b21857f0.489488","type":"http request","z":"fae45be8.323808","name":"POST to influxdb","method":"POST","ret":"txt","url":"http://influxdb:8086/write?db=giomi","tls":"","x":630,"y":920,"wires":[[]]},{"id":"e997d641.ae0738","type":"influxdb in","z":"fae45be8.323808","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":540,"y":780,"wires":[["edd34a5b.9d3788","eea7287.221d8d8"]]},{"id":"91cd9b94.f2a1e8","type":"http in","z":"fae45be8.323808","name":"POST glucometer","url":"/post_glucometer","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["cefcddb8.af885","3ea109d8.608a06","b1839a08.4a2508"]]},{"id":"cefcddb8.af885","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":800,"wires":[]},{"id":"eea7287.221d8d8","type":"join","z":"fae45be8.323808","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":860,"wires":[["1643fc5.b989304","16bfeeb1.1e1a51"]]},{"id":"edd34a5b.9d3788","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":780,"wires":[]},{"id":"1643fc5.b989304","type":"debug","z":"fae45be8.323808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":860,"wires":[]},{"id":"864dc6d6.6f3c58","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":1100,"wires":[]},{"id":"efb8d8d1.330c08","type":"function","z":"fae45be8.323808","name":"Send alarm ids back","func":"alarms = msg.payload;\nalarmsToSend = [];\n\nalarms.forEach(function(alarm) {\n    alarmsToSend.push({\n        id: alarm.alarmId,\n        result: alarm.Result\n    });\n});\n\nif (alarmsToSend.length === 0) msg.alertMsg = \"\";\n\nmsg.payload = {\"alarms\": alarmsToSend, \"macAddress\": msg.mac, \"alertMessage\": msg.alertMsg};\nreturn [msg, null];","outputs":2,"noerr":0,"x":1520,"y":560,"wires":[["4144b1d1.3855b","41836d60.d91cf4"],[]]},{"id":"69f772d2.2c337c","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1520,"y":760,"wires":[]},{"id":"41836d60.d91cf4","type":"http response","z":"fae45be8.323808","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1860,"y":560,"wires":[]},{"id":"f842a259.38164","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":620,"wires":[]},{"id":"74005b3d.ede424","type":"http in","z":"fae45be8.323808","name":"POST alarm","url":"/post_alarm","method":"post","upload":false,"swaggerDoc":"","x":1560,"y":900,"wires":[["3a3230ba.ae69d","63dfbeb7.76f7d","aac07cd2.46817"]]},{"id":"3a3230ba.ae69d","type":"function","z":"fae45be8.323808","name":"","func":"var alarmIds = msg.payload.alarms;\nvar mac = msg.payload.macAddress;\nvar feedBack = msg.payload.patientFeedback;\n\n//mac = mac.replace(/:/g, '-');\n\nmsg.feedback = feedBack;\nmsg.alarms = alarmIds;\n\nmsg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer '+global.get(\"access_token\")\n};\n\nmsg.method = \"GET\";\nmsg.url = global.get(\"endpoint\") + \"/api/parameter/getByDevice?uuid=\" + mac;\n\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":900,"wires":[["3abd505e.adab6","dd31714f.9c1e3"]]},{"id":"3abd505e.adab6","type":"http request","z":"fae45be8.323808","name":"","method":"GET","ret":"txt","url":"","x":1910,"y":900,"wires":[["401aef62.60968"]]},{"id":"8495fefa.7f8b5","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2270,"y":1060,"wires":[]},{"id":"401aef62.60968","type":"json","z":"fae45be8.323808","name":"","property":"payload","action":"obj","pretty":false,"x":2180,"y":900,"wires":[["1ba7ff7c.331a81","8495fefa.7f8b5"]]},{"id":"1ba7ff7c.331a81","type":"function","z":"fae45be8.323808","name":"","func":"let alarm_ids = [];\nfor (let alarm of msg.alarms) alarm_ids.push(alarm.id);\n\nmsg.payload.forEach(function(metric) {\n    metric.alarms.forEach(function(alarm){\n        if (alarm_ids.indexOf(alarm.id) != -1){\n            msg = {\n                parameterId: metric.id,\n                alarm: alarm,\n                processInstanceId: metric.processInstanceId,\n                feedback: msg.feedback,\n                result: msg.alarms[alarm_ids.indexOf(alarm.id)].result\n            };\n            \n            node.send(msg);\n        }\n    });\n});","outputs":1,"noerr":0,"x":2370,"y":900,"wires":[["5280fc7c.1cefa4","e93db431.f3cb88"]]},{"id":"63dfbeb7.76f7d","type":"http response","z":"fae45be8.323808","name":"","statusCode":"200","headers":{},"x":1670,"y":1000,"wires":[]},{"id":"5280fc7c.1cefa4","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2550,"y":780,"wires":[]},{"id":"e93db431.f3cb88","type":"function","z":"fae45be8.323808","name":"","func":"function convert_name(name){\n    var out = \"\"\n    if(name == \"temperature\")   out = \"Temperatura\"\n    else if(name == \"pulse\")    out = \"Frequenza\"\n    else if(name == \"spo2\")     out = \"Ossigenazione\"\n    else if(name == \"weight\")   out = \"Peso\"\n    else if(name == \"glucose\")     out = \"Glicemia\"\n    else if(name == \"systolic\")     out = \"Pressione Sistolica\"\n    else if(name == \"diastolic\")     out = \"Pressione Diastolica\"\n    \n    return out\n}\n\nalarmToSend = {\n    alarmColor: msg.alarm.alarmColor,\n    ParameterId: msg.parameterId,\n    ProcessInstanceId: msg.processInstanceId,\n    alarmId: msg.alarm.id,\n    Result: msg.result,\n    patientFeedback: msg.feedback\n};\n\nemails = msg.alarm.emails;\nsmsNumbers = msg.alarm.smsNumbers;\nendpoint = global.get(\"endpoint\");\n\nalarm_description = alarmToSend.alarmColor.description;\nalarmToSend.alarmColor = alarmToSend.alarmColor.id;\n\nmsg1 = {\n        headers: {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer '+global.get(\"access_token\")\n        },\n        \"method\": \"POST\",\n        \"url\": endpoint + \"/api/AlarmFired/create\",\n        \"payload\": alarmToSend\n};\n\nnode.send(msg1);\n\n\n\nif (emails !== null) {\n    emailsArray = emails.split(\";\");\n    \n    for (let i in emailsArray) {\n        url = endpoint + \"/api/notify/sendemail?\";\n        \n        from = \"webservices@igcom.it\";\n        to = emailsArray[i];\n        ccn = \"\";\n        cc = \"\";\n        subject = \"Allarme di colore \" + alarm_description\n        body = alarmToSend.Result\n        \n        url = `${url}&from=${from}&to=${to}&ccn=${ccn}&cc=${cc}&subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;\n        msg2 = {\n            headers: {\n                'Content-Type': 'application/json',\n                'Authorization': 'Bearer '+global.get(\"access_token\")\n            },\n            \"method\": \"GET\",\n            \"url\": url\n        };\n        \n        node.send(msg2);\n    }\n}\n\nif (smsNumbers !== null) {\n    smsNumbersArray = smsNumbers.split(\";\");\n    for (let i in smsNumbersArray) {\n        url = endpoint + \"/api/notify/sendsms?phoneNumber=\" + smsNumbersArray[i] + \"&message=\";\n        text = \"Allarme di colore \"+alarm_description+\" :\"+alarmToSend.Result\n        msg3 = {\n            headers: {\n                'Content-Type': 'application/json',\n                'Authorization': 'Bearer '+global.get(\"access_token\")\n            },\n            \"method\": \"GET\",\n            //\"url\": url+msg\n            \"url\": url+encodeURIComponent(text)\n        };\n        \n        node.send(msg3);\n    }\n}\n","outputs":1,"noerr":0,"x":2550,"y":900,"wires":[["46c9820a.415e8c","972e7628.f2ad08"]]},{"id":"46c9820a.415e8c","type":"http request","z":"fae45be8.323808","name":"","method":"POST","ret":"txt","url":"","tls":"","x":2750,"y":900,"wires":[["69f6485c.94fc28"]]},{"id":"69f6485c.94fc28","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2940,"y":1120,"wires":[]},{"id":"972e7628.f2ad08","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2640,"y":1140,"wires":[]},{"id":"4144b1d1.3855b","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1740,"y":660,"wires":[]},{"id":"dd31714f.9c1e3","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1914.9998779296875,"y":1016.6666259765625,"wires":[]},{"id":"e47d3de1.64f34","type":"http response","z":"c5716b29.1b8d08","name":"","statusCode":"200","headers":{},"x":2060,"y":220,"wires":[]},{"id":"aac07cd2.46817","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":1120,"wires":[]},{"id":"4d8995e5.8e040c","type":"debug","z":"c5716b29.1b8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1240,"y":740,"wires":[]},{"id":"96de4df.42d5db","type":"http response","z":"c5716b29.1b8d08","name":"","statusCode":"200","headers":{},"x":2000,"y":100,"wires":[]},{"id":"460694bc.b0e02c","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":1670,"y":100,"wires":[["f8d872db.17b9"]]},{"id":"d34c176a.da9e68","type":"debug","z":"fae45be8.323808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":260,"wires":[]},{"id":"4d3d5888.41c688","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":100,"wires":[["4d108ef1.ffb8a"]]},{"id":"f8d872db.17b9","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"},{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":100,"wires":[["96de4df.42d5db"]]},{"id":"dc49c4cd.564718","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":220,"wires":[["22d282c0.ba4afe"]]},{"id":"61da7697.76b6e8","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":1750,"y":220,"wires":[["371ff919.903566"]]},{"id":"371ff919.903566","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"},{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":220,"wires":[["e47d3de1.64f34"]]},{"id":"1bc6a4c4.0cd3db","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":340,"wires":[["8f17b268.45fb1"]]},{"id":"3045b098.dc0d9","type":"http response","z":"c5716b29.1b8d08","name":"","statusCode":"200","headers":{},"x":2020,"y":340,"wires":[]},{"id":"72af604b.6d429","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":1710,"y":340,"wires":[["55106230.a016bc"]]},{"id":"55106230.a016bc","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"},{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":340,"wires":[["3045b098.dc0d9"]]},{"id":"a1b702d9.267f8","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":460,"wires":[["28461d46.ff5c12"]]},{"id":"2b58b088.dd1f9","type":"http response","z":"c5716b29.1b8d08","name":"","statusCode":"200","headers":{},"x":2040,"y":460,"wires":[]},{"id":"c032864b.43c968","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":1730,"y":460,"wires":[["6b743dc.b349ec4"]]},{"id":"6b743dc.b349ec4","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"},{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":460,"wires":[["2b58b088.dd1f9"]]},{"id":"af261fb7.759cb","type":"http request","z":"c5716b29.1b8d08","name":"","method":"use","ret":"txt","url":"","tls":"","x":1550,"y":580,"wires":[["ca511e6e.22edf"]]},{"id":"1d1ee071.acdb2","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":580,"wires":[["af261fb7.759cb"]]},{"id":"e6ec7bc3.8b4c28","type":"http response","z":"c5716b29.1b8d08","name":"","statusCode":"200","headers":{},"x":2060,"y":580,"wires":[]},{"id":"ca511e6e.22edf","type":"json","z":"c5716b29.1b8d08","name":"","property":"payload","action":"","pretty":false,"x":1750,"y":580,"wires":[["90d1e379.484f9"]]},{"id":"90d1e379.484f9","type":"change","z":"c5716b29.1b8d08","name":"","rules":[{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"},{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":580,"wires":[["e6ec7bc3.8b4c28"]]},{"id":"cf9f183d.9051d8","type":"inject","z":"d56f78de.4f2b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["2c51bb15.7f1514"]]},{"id":"ec170fbc.1b125","type":"http request","z":"d56f78de.4f2b18","name":"/post_smartwatch (fall)","method":"POST","ret":"txt","url":"http://localhost:1880/post_smartwatch","tls":"","x":460,"y":40,"wires":[["4a1354d3.ec91fc"]]},{"id":"4a1354d3.ec91fc","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":40,"wires":[]},{"id":"2c51bb15.7f1514","type":"function","z":"d56f78de.4f2b18","name":"","func":"timestamp = msg.payload\nmsg.payload = {\n    \"device_mac\":\"00:B5:D0:5C:9C:F1\",\n    \"fall\":true,\n    \"fallNoResponse\":false,\n    \"timestamp\": timestamp,\n    \"lat\":\"38,2596\",\n    \"lng\":\"15,5957\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":40,"wires":[["ec170fbc.1b125"]]},{"id":"fe39b130.f8a2","type":"inject","z":"d56f78de.4f2b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["e9a150ae.f3da3"]]},{"id":"f1db4047.746b9","type":"http request","z":"d56f78de.4f2b18","name":"/post_smartwatch (measure)","method":"POST","ret":"txt","url":"http://localhost:1880/post_smartwatch","tls":"","x":480,"y":120,"wires":[["5f12b140.c1a88"]]},{"id":"5f12b140.c1a88","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":120,"wires":[]},{"id":"e9a150ae.f3da3","type":"function","z":"d56f78de.4f2b18","name":"","func":"timestamp = msg.payload\ntimestamp2 = timestamp+30000\n\nmsg.payload = {\n    \"device_mac\":\"00:B5:D0:5C:9C:F1\",\n    \"payload\":[\n        {\n            \"timestamp\":timestamp,\n            \"heartRate\":81,\n            \"stressLabel\": \"NORMAL\",\n            \"lat\":\"38,2596\",\n            \"lng\":\"15,5953\",\n            \"id\":140\n        }\n        /*,\n        \n        {\n            \"timestamp\":timestamp2,\n            \"heartRate\":71,\n            \"stressLabel\":\"NORMAL\",\n            \"lat\":\"38,2596\",\n            \"lng\":\"15,5954\",\n            \"id\":158\n        }\n        */\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["f1db4047.746b9"]]},{"id":"7d625398.266fdc","type":"http in","z":"d56f78de.4f2b18","name":"POST smartwatch","url":"/post_smartwatch","method":"post","upload":false,"swaggerDoc":"","x":110,"y":500,"wires":[["7979d12d.58ec6","9272c60d.d0abc8"]]},{"id":"9272c60d.d0abc8","type":"json","z":"d56f78de.4f2b18","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":500,"wires":[["c72c0a58.87a5b8","fa4a31a2.6225b","7f18aa1.7765f54"]]},{"id":"7979d12d.58ec6","type":"http response","z":"d56f78de.4f2b18","name":"","statusCode":"200","headers":{},"x":120,"y":440,"wires":[]},{"id":"c72c0a58.87a5b8","type":"function","z":"d56f78de.4f2b18","name":"GET smartwatch","func":"sw_mac = msg.payload.device_mac.replace(/:/g, '-')\n\nvar msg = {}\n\nmsg ={\n    headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer '+global.get(\"access_token\")\n    },\n    method: \"GET\",\n    url: global.get(\"endpoint\")+\"/api/parameter/getByDevice?uuid=\"+ sw_mac\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["22dc0539.f0269a"]]},{"id":"22dc0539.f0269a","type":"http request","z":"d56f78de.4f2b18","name":"GET by device","method":"use","ret":"obj","url":"","tls":"","x":640,"y":440,"wires":[["fa4a31a2.6225b"]]},{"id":"9e4330f7.c8579","type":"function","z":"d56f78de.4f2b18","name":"Prepare query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nid = msg.payload[1][0].processInstanceId\ninterval = global.get(\"influxdb_query_interval\")\n\nflow.set(\"sample_and_alarms\", msg.payload)\n\nmsg1 = {}\nmsg1.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\n\nreturn msg1\n","outputs":1,"noerr":0,"x":240,"y":280,"wires":[["ad843b0f.c781c8"]]},{"id":"b2cba81c.f6bbc8","type":"function","z":"d56f78de.4f2b18","name":"Prepare query","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\n\nid = msg.payload[1][0].processInstanceId\ninterval = global.get(\"influxdb_query_interval\")\n\nflow.set(\"sample_and_alarms\", msg.payload)\n\nmsg1 = {}\nmsg1.payload = []\n\nsamples = msg.payload[0].payload\nsamples.forEach(function(sample) {\n    obj = {}\n    obj.sample_id = sample.id\n    obj.query = \"SELECT * FROM weight WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM glucose WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM pulse WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM spo2 WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM systolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM diastolic WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"+\n             \"SELECT * FROM temperature WHERE processInstanceId='\"+id+\"' AND time > now()-\"+interval+\"m ORDER BY time DESC Limit 1;\"\n\n    msg1.payload.push(obj)\n})\n\n\nreturn msg1\n","outputs":1,"noerr":0,"x":240,"y":680,"wires":[["e5ac5592.6409c8"]]},{"id":"e5ac5592.6409c8","type":"split","z":"d56f78de.4f2b18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":680,"wires":[["57709603.4f9608","61a4e56b.299fec"]]},{"id":"d5b28505.d4f378","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":740,"wires":[]},{"id":"8391bb67.9b55d8","type":"influxdb in","z":"d56f78de.4f2b18","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":760,"y":680,"wires":[["d5b28505.d4f378","bef2d310.8e834"]]},{"id":"57709603.4f9608","type":"function","z":"d56f78de.4f2b18","name":"get query","func":"msg.query = msg.payload.query\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":680,"wires":[["8391bb67.9b55d8"]]},{"id":"61a4e56b.299fec","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":760,"wires":[]},{"id":"bef2d310.8e834","type":"function","z":"d56f78de.4f2b18","name":"Create Alarms","func":"function convert_name(name){\n    var out = \"\"\n    if(name == \"temperature\")   out = \"Temperatura\"\n    else if(name == \"pulse\")    out = \"Frequenza\"\n    else if(name == \"spo2\")     out = \"Ossigenazione\"\n    else if(name == \"weight\")   out = \"Peso\"\n    else if(name == \"glucose\")     out = \"Glicemia\"\n    else if(name == \"systolic\")     out = \"Pressione Sistolica\"\n    else if(name == \"diastolic\")     out = \"Pressione Diastolica\"\n    \n    return out\n}\n\n\n// msg.payload[0] dati istantanei\n// msg.payload[1] dati db\ngreenAlarms = [];\nyellowAlarms = [];\nredAlarms = [];\n\n/*\npool = msg.payload[0][0].metrics; //initial pool of values\nconf = msg.payload[0][1];\nalarms = msg.payload[0][1][0].alarms;\n\ndataFromDB = msg.payload[1];\n*/\n\nsamples_and_alarms = flow.get(\"sample_and_alarms\")\n\ndataFromDB = msg.payload\nconf = samples_and_alarms[1]\n\npool = []\nif(samples_and_alarms[0].fall){\n    pool.push(\"fall\")\n}\nelse if(samples_and_alarms[0].payload.length !== 0){\n    if(samples_and_alarms[0].payload[0].heartRate)\n        pool.push(\"pulse\")\n}\n\nalarms = []\nsamples_and_alarms[1].forEach(function(e) {\n    e.alarms.forEach(function(a) {\n        a.alarmMetrics.forEach(function(m) {\n\n            if(pool.indexOf(m.metric) != -1)\n                alarms.push(a)\n        })\n    })\n})\n\n\n\ndataFromDB.forEach(function(e) {\n    if (e.length === 0) return;\n    \n    metric = e[0];\n    \n    delete metric.time;\n\tdelete metric.mac;\n\tdelete metric.processInstanceId;\n    \n\tfor (var metricName in metric)\n\t\tif (pool[metricName] === undefined) pool[metricName] = metric[metricName];\n});\n\n//node.send([null, null, null, {\"payload\": pool}]);\n\n//node.send([null, null, null, {\"payload\": alarms}])\nalarms.forEach(function(alarm) {\n    if(alarm.isEnabled === true){   \n    \tvar needToRaiseAlarm = true;\n        //node.send([null, null, null, {\"payload\": alarms.alarmMetrics}])\n    \t//alarm.dependencies.forEach(function(dependence) {\n    \talarm.alarmMetrics.forEach(function(dependence) {\n    \t   \tmetricName = dependence.metric;\n    \t\tif (pool[metricName] === undefined) { \n    \t\t\tneedToRaiseAlarm = false;\n    \t\t\treturn;\n    \t\t}\n            \n    \t\tvalueFromPool = pool[metricName];\n            //node.send([null,null,null, {payload: [valueFromPool,metricName,dependence]}])\n    \n    \t\tif (dependence.thresholdMin === 0 && valueFromPool <= dependence.thresholdMax) return;\n    \t\tif (dependence.thresholdMax === 0 && valueFromPool >= dependence.thresholdMin) return;\n    \t\tif (valueFromPool >= dependence.thresholdMin && valueFromPool <= dependence.thresholdMax) return;\n    \n    \t\tneedToRaiseAlarm = false;\n    \t});\n        //node.send([null, null, null, {\"payload\": needToRaiseAlarm}])\n        \n        if(samples_and_alarms[0].fall) needToRaiseAlarm = true\n            \n        \n        if (needToRaiseAlarm) {\n            \n            result_string = \"(\"+alarm.name+\") \"\n            keys = Object.keys(pool)\n            keys.forEach(function(k){\n                \n                //---------\n                alarm.alarmMetrics.forEach(function(dependence) {\n                    if(dependence.metric == k){\n                //---------\n                \n                name = convert_name(k);\n                result_string += name+\": \"+ pool[k]+\" \";\n                \n                //---------\n                    }\n                });\n                //---------\n            });\n            \n            \n            alarmToSend = {\n                //\"Endpoint\": conf[0].endpoint,\n                \"Endpoint\": global.get(\"endpoint\"),\n                //\"Result\": pool,\n                \"Result\": result_string,\n                //\"AlarmColor\": alarm.color,\n                \"alarmColor\": alarm.alarmColor,\n                \"ParameterId\": conf[0].id,\n                \"ProcessInstanceId\": conf[0].processInstanceId,\n                \"alarmId\": alarm.id,\n                \"emails\": alarm.emails,\n                \"smsNumbers\": alarm.smsNumbers\n            };\n            \n            if(samples_and_alarms[0].fall){\n                alarmToSend.Fall = samples_and_alarms[0].fall\n                alarmToSend.FallNoResponse = samples_and_alarms[0].fallNoResponse\n                alarmToSend.Latitude = samples_and_alarms[0].lat\n                alarmToSend.Longitude = samples_and_alarms[0].lng\n            }\n            \n\n            //if (alarm.color == 1) greenAlarms.push(alarmToSend);\n            //else if (alarm.color == 2) yellowAlarms.push(alarmToSend);\n            //else redAlarms.push(alarmToSend);\n            \n            if (alarm.alarmColor.id == 1) greenAlarms.push(alarmToSend);\n            else if (alarm.alarmColor.id == 2) yellowAlarms.push(alarmToSend);\n            else redAlarms.push(alarmToSend);\n            \n        }\n    }\n});\nreturn [{\"payload\": greenAlarms}, {\"payload\": yellowAlarms}, {\"payload\": redAlarms}, {\"payload\": pool}];\n","outputs":4,"noerr":0,"x":1280,"y":500,"wires":[["6b8e256a.456afc","3c86484b.2c61d8"],["89afe8ba.1d38d8","3c86484b.2c61d8"],["351171af.2c891e","3c86484b.2c61d8"],["2ca34121.0e697e"]]},{"id":"6b8e256a.456afc","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":580,"wires":[]},{"id":"89afe8ba.1d38d8","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":620,"wires":[]},{"id":"351171af.2c891e","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":660,"wires":[]},{"id":"2ca34121.0e697e","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":700,"wires":[]},{"id":"3c86484b.2c61d8","type":"function","z":"d56f78de.4f2b18","name":"Prepare Alarms / Mail / SMS","func":"alarms = msg.payload;\n\nalarms.forEach(function(alarm) {\n    endpoint = alarm.Endpoint;\n    \n    emails = alarm.emails;\n    smsNumbers = alarm.smsNumbers;\n    \n    delete alarm.Endpoint;\n    delete alarm.emails;\n    delete alarm.smsNumbers;\n    \n    //alarm.Result = JSON.stringify(alarm.Result);\n    alarm_description = alarm.alarmColor.description\n    alarm.alarmColor = alarm.alarmColor.id\n    \n    var msg = {\n        headers: {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer '+global.get(\"access_token\")\n        },\n        \"method\": \"POST\",\n        \"url\": endpoint + \"/api/AlarmFired/create\",\n        \"payload\": alarm\n    };\n    \n    node.send( [ msg, null ] );\n    /*\n    if (emails !== null) {\n        emailsArray = emails.split(\";\");\n        \n        for (let i in emailsArray) {\n            url = endpoint + \"/api/notify/sendemail?\";\n            \n            from = \"webservices@igcom.it\";\n            to = emailsArray[i];\n            ccn = \"\";\n            cc = \"\";\n            subject = \"Allarme di colore \" + alarm_description\n            body = alarm.Result\n            \n            url = `${url}&from=${from}&to=${to}&ccn=${ccn}&cc=${cc}&subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;\n            msg = {\n                headers: {\n                    'Content-Type': 'application/json',\n                    'Authorization': 'Bearer '+global.get(\"access_token\")\n                },\n                \"method\": \"GET\",\n                \"url\": url\n            };\n            \n            node.send( [ msg, null] );\n        }\n    }\n\n    if (smsNumbers !== null) {\n        smsNumbersArray = smsNumbers.split(\";\");\n        for (let i in smsNumbersArray) {\n            url = endpoint + \"/api/notify/sendsms?phoneNumber=\" + smsNumbersArray[i] + \"&message=\";\n            text = \"Allarme di colore \"+alarm_description+\" :\"+alarm.Result\n            msg = {\n                headers: {\n                    'Content-Type': 'application/json',\n                    'Authorization': 'Bearer '+global.get(\"access_token\")\n                },\n                \"method\": \"GET\",\n                //\"url\": url+msg\n                \"url\": url+encodeURIComponent(text)\n            };\n            \n            node.send([msg, null]);\n        }\n    }\n    */\n});","outputs":2,"noerr":0,"x":1600,"y":500,"wires":[["e8cce7f1.eb0018","39630cfc.5373f4"],["ac69a2f0.9a65"]]},{"id":"e8cce7f1.eb0018","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":520,"wires":[]},{"id":"ac69a2f0.9a65","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1850,"y":580,"wires":[]},{"id":"39630cfc.5373f4","type":"http request","z":"d56f78de.4f2b18","name":"POST","method":"use","ret":"txt","url":"","tls":"","x":1830,"y":460,"wires":[["6d5f29f1.3e3bb8"]]},{"id":"6d5f29f1.3e3bb8","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1950,"y":460,"wires":[]},{"id":"fb108f5e.5df01","type":"function","z":"d56f78de.4f2b18","name":"Align, split & influxdb","func":"//In payload[0] we want the sample and \n//in payload[1] the configuration (igcom)\nif (!msg.payload[0].device_mac){\n    temp = msg.payload[0]\n    msg.payload[0] = msg.payload[1]\n    msg.payload[1] = temp\n}\n\n\nvar db = {}\ndb.payload = []\n\nvar processInstanceId = \"\"\nif(Array.isArray(msg.payload[1])){\n    processInstanceId = msg.payload[1][0].processInstanceId\n}\n\n\n\n\nif(msg.payload[0].fall){\n    var sample_data = msg.payload[0]\n    \n    var mac = sample_data.device_mac\n    var timestamp = sample_data.timestamp + \"000000\"\n    \n    var fall = sample_data.fall\n    var fallNoResponse = sample_data.fallNoResponse\n    var lat = sample_data.lat\n    var lng = sample_data.lng\n    \n    db.payload[0] = []\n    db.payload[0]['measurement'] = \"fall\"\n    \n    db.payload[0]['tags'] = []\n    db.payload[0]['tags']['processInstanceId'] = processInstanceId\n    db.payload[0]['tags']['mac'] = mac\n    \n    db.payload[0]['fields'] = []\n    db.payload[0]['fields']['fall'] = fall\n    db.payload[0]['fields']['fallNoResponse'] = fallNoResponse\n    db.payload[0]['fields']['latitude'] = lat\n    db.payload[0]['fields']['longitude'] = lng\n    \n    db.payload[0]['timestamp'] = timestamp\n    \n    return [msg, null, db];\n}\nelse{\n    var sample_data = msg.payload[0]\n    var mac = sample_data.device_mac\n    \n    for(var i=0;i<sample_data.payload.length;i++){\n        \n        var timestamp = sample_data.payload[i].timestamp + \"000000\"\n        \n        var id = sample_data.payload[i].id\n        var pulse = sample_data.payload[i].heartRate\n        var stress = sample_data.payload[i].stressLabel\n        var lat = sample_data.payload[i].lat\n        var lng = sample_data.payload[i].lng\n        \n        //db.payload[e] = \"pulse,processInstanceId=\"+processInstanceId+\",mac=\"+mac+ \n        //\"pulse=\"+pulse+\",stress=\"+stress+\",latitude=\"+lat+\",longitude=\"+lng+\" \"+timestamp;\n        db.payload[i] = []\n        db.payload[i]['measurement'] = \"pulse\"\n        \n        db.payload[i]['tags'] = []\n        db.payload[i]['tags']['processInstanceId'] = processInstanceId\n        db.payload[i]['tags']['mac'] = mac\n        \n        db.payload[i]['fields'] = []\n        db.payload[i]['fields']['id'] = id\n        db.payload[i]['fields']['pulse'] = pulse\n        db.payload[i]['fields']['stress'] = stress\n        db.payload[i]['fields']['latitude'] = lat\n        db.payload[i]['fields']['longitude'] = lng\n        \n        db.payload[i]['timestamp'] = timestamp\n    }\n    return [null, msg, db]\n}\n","outputs":3,"noerr":0,"x":960,"y":500,"wires":[["d0749c8c.a66dd","9e4330f7.c8579"],["b2cba81c.f6bbc8","a5b54011.1bd3a"],["aa245800.f954c8","550496f3.56fdd8"]]},{"id":"d0749c8c.a66dd","type":"debug","z":"d56f78de.4f2b18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":300,"wires":[]},{"id":"fa4a31a2.6225b","type":"join","z":"d56f78de.4f2b18","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":500,"wires":[["fb108f5e.5df01","5f5bad31.98c664"]]},{"id":"ad843b0f.c781c8","type":"influxdb in","z":"d56f78de.4f2b18","influxdb":"dccfac91.4ca9f","name":"Last sample x device","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":760,"y":280,"wires":[["bef2d310.8e834"]]},{"id":"7f18aa1.7765f54","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":526.01953125,"y":330.00390625,"wires":[]},{"id":"aa245800.f954c8","type":"influxdb batch","z":"d56f78de.4f2b18","influxdb":"dccfac91.4ca9f","precision":"","retentionPolicy":"","name":"","x":1500,"y":920,"wires":[]},{"id":"a5b54011.1bd3a","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":680,"wires":[]},{"id":"b42ef377.cbaa1","type":"comment","z":"d56f78de.4f2b18","name":"fall","info":"","x":110,"y":240,"wires":[]},{"id":"73092cc5.b22554","type":"comment","z":"d56f78de.4f2b18","name":"heartRate","info":"","x":120,"y":760,"wires":[]},{"id":"5f5bad31.98c664","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":360,"wires":[]},{"id":"550496f3.56fdd8","type":"function","z":"d56f78de.4f2b18","name":"","func":"msg.payload.forEach(function(obj) {\n    if (obj.fields.latitude && obj.fields.longitude) {\n    endpoint = global.get(\"endpoint\");\n    \n    req = {\n        headers: {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer '+global.get(\"access_token\")\n        },\n        method: \"POST\",\n        url: global.get(\"endpoint\")+\"/api/processInstance/updatePositionLast\",\n        payload: {\n            ProcessInstanceId: obj.tags.processInstanceId,\n            latitude: obj.fields.latitude,\n            longitude: obj.fields.longitude\n        }\n    };\n    \n    node.send(req);\n    }\n});","outputs":1,"noerr":0,"x":1170,"y":900,"wires":[["12568231.01230e","cd5c8114.50107"]]},{"id":"12568231.01230e","type":"http request","z":"d56f78de.4f2b18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1320,"y":1000,"wires":[["93491298.f3b3"]]},{"id":"cd5c8114.50107","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":820,"wires":[]},{"id":"93491298.f3b3","type":"debug","z":"d56f78de.4f2b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":1120,"wires":[]},{"id":"b7686d05.3b78f","type":"ui_dropdown","z":"f4361098.cb669","name":"","label":"Select the patient","tooltip":"","place":"Select ","group":"1cdb563a.fda52a","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":610,"y":40,"wires":[["749c82b6.f061bc","db52a9f4.f314a8"]]},{"id":"a73d7c0e.ab8ee","type":"influxdb in","z":"e9ef879c.b78f88","influxdb":"dccfac91.4ca9f","name":"","query":"show tag values from systolic  with key=processInstanceId","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":40,"wires":[["3f36e911.e86436"]]},{"id":"3f36e911.e86436","type":"function","z":"e9ef879c.b78f88","name":"","func":"array = [];\nmsg.payload.forEach(function(x){\n    if (x.value != 'undefined')\n        array.push(x.value);\n});\n\nmsg.payload = array;\nreturn msg\n\n","outputs":1,"noerr":0,"x":870,"y":40,"wires":[["4f70f1d5.1f6ba"]]},{"id":"749c82b6.f061bc","type":"change","z":"f4361098.cb669","name":"","rules":[{"t":"set","p":"id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":40,"wires":[[]]},{"id":"e41b775f.7e56e8","type":"ui_button","z":"f4361098.cb669","name":"","group":"1cdb563a.fda52a","order":15,"width":0,"height":0,"passthru":false,"label":"Analyze","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":260,"wires":[["3617711b.aebd7e","780a03f2.5f002c"]]},{"id":"5f7e31a0.9399e","type":"exec","z":"f4361098.cb669","command":"/data/pyScripts/env/bin/python /data/pyScripts/giomi-ai/lstm.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":260,"wires":[["74e9b8a1.5c6f88","d5f98d48.22d0d"],["63997e6d.0dcd2"],[]]},{"id":"3617711b.aebd7e","type":"function","z":"f4361098.cb669","name":"","func":"pid = flow.get('id') || undefined;\n\nif (pid){\n    return { \"payload\": \"predict \" + pid }\n}","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["5f7e31a0.9399e","f4087e06.acb0a"]]},{"id":"74e9b8a1.5c6f88","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":420,"wires":[]},{"id":"f4087e06.acb0a","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":420,"wires":[]},{"id":"780a03f2.5f002c","type":"function","z":"f4361098.cb669","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["dc1067ff.279e38","adda6cb7.5676d","dfdeb558.f3f708","8dcec45d.9f5368","67b7c979.0e53a8","7f80d980.4c4988","55bb5b3b.684624","ff78b62.0b9c048","b466731b.ee3fa","bfb45bb7.140838","9072012b.6d0ba","a2401d67.04b34","9d1b3405.a5e5d8"]]},{"id":"8c319800.db1638","type":"influxdb in","z":"f4361098.cb669","influxdb":"dccfac91.4ca9f","name":"","query":"show tag values from systolic  with key=processInstanceId","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":920,"wires":[["8c414e07.016b8","6e972adc.c2c084"]]},{"id":"33647ef.1815f82","type":"inject","z":"f4361098.cb669","name":"","topic":"risks","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":920,"wires":[["2a9df989.ca9f36"]]},{"id":"8c414e07.016b8","type":"function","z":"f4361098.cb669","name":"","func":"array = [];\nmsg.payload.forEach(function(x){\n    array.push(x.value);\n});\n\nmsg.payload = array;\nreturn msg\n\n","outputs":1,"noerr":0,"x":1010,"y":920,"wires":[["766dcbf2.be9d34"]]},{"id":"766dcbf2.be9d34","type":"split","z":"f4361098.cb669","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1110,"y":1100,"wires":[["25a76dbf.f18312"]]},{"id":"25a76dbf.f18312","type":"function","z":"f4361098.cb669","name":"","func":"pid = msg.payload || undefined;\n\nif (pid){\n    return { \"payload\": pid + \" load\" , \"pid\": pid}\n}","outputs":1,"noerr":0,"x":1290,"y":1100,"wires":[["18169a98.a013c5"]]},{"id":"18169a98.a013c5","type":"exec","z":"f4361098.cb669","command":"/data/pyScripts/env/bin/python /data/pyScripts/giomi-ai/lstm.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1630,"y":1100,"wires":[["caf1609b.a38c3"],[],[]]},{"id":"9f508746.238cd8","type":"function","z":"f4361098.cb669","name":"Check new risks with cached ones","func":"const require = global.get('require');\ncache = flow.get('cache') || {};\n\nconditions = ['cardiopatia ipertensiva', 'diabete', 'depressione', 'ipertensione', 'disturbi deambulazione'];\nlevels = ['basso', 'medio', 'alto'];\n\ngetRisk = (value) => {\n    if (value < 0.10) return 0;\n    else if (value < 40) return 1;\n    else return 2;\n}\n\nconst zip = require('zip-array').zip;\n\nfunction range(start, stop, step) {\n    if (typeof stop == 'undefined') {\n        // one param defined\n        stop = start;\n        start = 0;\n    }\n\n    if (typeof step == 'undefined') {\n        step = 1;\n    }\n\n    if ((step > 0 && start >= stop) || (step < 0 && start <= stop)) {\n        return [];\n    }\n\n    var result = [];\n    for (var i = start; step > 0 ? i < stop : i > stop; i += step) {\n        result.push(i);\n    }\n\n    return result;\n}\n\nrisks = [];\nfor (let value of msg.payload.output) risks.push(getRisk(value));\nlet toFire = false;\n\n\nif (cache[msg.pid] !== undefined) {\n    for (let pair of zip(risks, cache[msg.pid], range(risks.length))) {\n        if (pair[0] != pair[1]){\n            msg.payload = {\n                AlarmColor: pair[0] > pair[1] ? 2 : 0,\n                Result: `Classe di rischio per patologia ${conditions[pair[2]]} cambiata da ${levels[pair[1]]} a ${levels[pair[0]]}.`,\n                ProcessInstanceId: msg.pid,\n                IsFall: false,\n                IsFallNoResponse: false\n            };\n            toFire = true;\n        }\n    }\n}\n\ncache[msg.pid] = risks;\nflow.set('cache', cache);\n\nnode.send([null, { payload: cache, topic: \"risks\"}]);\n\nif (toFire) return [msg, null];","outputs":2,"noerr":0,"x":2260,"y":900,"wires":[["fc281d77.8d668"],["4d2eada4.ec8dd4"]]},{"id":"caf1609b.a38c3","type":"json","z":"f4361098.cb669","name":"","property":"payload","action":"","pretty":false,"x":1930,"y":900,"wires":[["9f508746.238cd8"]]},{"id":"63997e6d.0dcd2","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":720,"wires":[]},{"id":"d7783efc.4971","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2450,"y":1120,"wires":[]},{"id":"6a42efbd.dda7e","type":"debug","z":"f4361098.cb669","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2200,"y":1340,"wires":[]},{"id":"94616253.2379c","type":"inject","z":"f4361098.cb669","name":"","topic":"","payload":"{\"pid\":\"36ba3aa9-7d75-4adf-9ee8-aa4900e871b3\",\"payload\":{\"output\":[1,1,1,1,0,0,1,0,0,0,1]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1930,"y":1180,"wires":[["aa81f0a9.9982f"]]},{"id":"aa81f0a9.9982f","type":"function","z":"f4361098.cb669","name":"","func":"\nreturn {\"pid\":\"f22c7811-e55c-4412-9d2e-aa0700c555ce\",\"payload\":{\"output\":[2,1,1,0,1]}}","outputs":1,"noerr":0,"x":2070,"y":1180,"wires":[["9f508746.238cd8","6a42efbd.dda7e"]]},{"id":"35797417.fe79ec","type":"inject","z":"f4361098.cb669","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1780,"y":1380,"wires":[["72958ddb.67f794"]]},{"id":"72958ddb.67f794","type":"change","z":"f4361098.cb669","name":"","rules":[{"t":"set","p":"cache","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":1380,"wires":[[]]},{"id":"fc281d77.8d668","type":"function","z":"f4361098.cb669","name":"Create request msg (to change when in production)","func":"const endpoint = global.get('endpoint');\n\n\nvar msg = {\n    headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer '+global.get(\"access_token\")\n    },\n    \"method\": \"POST\",\n    \"url\": endpoint + \"/api/AlarmFired/create\",\n    \"payload\": msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":960,"wires":[["d7783efc.4971","cb5f668b.fa0318"]]},{"id":"cb5f668b.fa0318","type":"http request","z":"f4361098.cb669","name":"","method":"POST","ret":"txt","url":"","tls":"","x":2710,"y":960,"wires":[["cbd0e7f9.833e28"]]},{"id":"cbd0e7f9.833e28","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2790,"y":1120,"wires":[]},{"id":"6e972adc.c2c084","type":"delay","z":"f4361098.cb669","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1000,"wires":[["8c319800.db1638"]]},{"id":"4f70f1d5.1f6ba","type":"function","z":"e9ef879c.b78f88","name":"","func":"const endpoint = global.get('endpoint');\n\nvar msg = {\n    headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer '+global.get(\"access_token\")\n    },\n    \"method\": \"POST\",\n    \"url\": endpoint + \"/api/registry/FetchByProcessInstanceIds?\",\n    \"payload\": {'processInstanceIds': msg.payload}\n};\n\n// for (let pId of msg.payload){\n//     msg.url += `processInstanceIds=${pId}&`;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":40,"wires":[["9e6581b8.cd10b"]]},{"id":"9e6581b8.cd10b","type":"http request","z":"e9ef879c.b78f88","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1270,"y":40,"wires":[["9d45b597.5dbff8"]]},{"id":"2a9df989.ca9f36","type":"key-value-read","z":"f4361098.cb669","store":"50c13de9.29ac54","key":"risks","name":"","x":350,"y":1120,"wires":[["b5afc5df.ab5158","4cded569.72a3ac"]]},{"id":"b5afc5df.ab5158","type":"function","z":"f4361098.cb669","name":"","func":"if (msg.payload) flow.set('cache', msg.payload);","outputs":1,"noerr":0,"x":530,"y":1120,"wires":[[]]},{"id":"4d2eada4.ec8dd4","type":"key-value-write","z":"f4361098.cb669","store":"50c13de9.29ac54","action":"set","key":"risks","keyvalue":"","name":"","x":2550,"y":900,"wires":[[]]},{"id":"4cded569.72a3ac","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1240,"wires":[]},{"id":"9d45b597.5dbff8","type":"json","z":"e9ef879c.b78f88","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":40,"wires":[["224a2f9.bae0fd","ffcd18d9.1aa3b8"]]},{"id":"224a2f9.bae0fd","type":"function","z":"e9ef879c.b78f88","name":"","func":"out = [];\n\nfor (let [key, val] of Object.entries(msg.payload)) {\n    name = `${val.firstname} ${val.surname}`;\n    out.push({[name]: key});\n}\n\nreturn {'options': out};","outputs":1,"noerr":0,"x":1590,"y":40,"wires":[["31b5f67f.6ab97a"]]},{"id":"131924fa.be96db","type":"subflow:e9ef879c.b78f88","z":"f4361098.cb669","name":"","x":390,"y":50,"wires":[["b7686d05.3b78f"]]},{"id":"32882483.eceaac","type":"ui_button","z":"a67af8e0.5af0b8","name":"","group":"c3518e54.fef6f","order":5,"width":0,"height":0,"passthru":false,"label":"Get data and apply analysis","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":60,"wires":[["cd8b32c.dc8d9d"]]},{"id":"40254104.346c9","type":"exec","z":"a67af8e0.5af0b8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":120,"wires":[["e0d2fe51.a0561"],[],["e0d2fe51.a0561","23d32d2d.794052"]]},{"id":"1ace34d1.ac01eb","type":"ui_template","z":"a67af8e0.5af0b8","group":"4b9b9528.89b01c","name":"","order":1,"width":"15","height":"15","format":"<img src=\"/out2.png?{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":60,"wires":[[]]},{"id":"2ddc96ef.41bffa","type":"http in","z":"a67af8e0.5af0b8","name":"","url":"/out.png","method":"get","upload":false,"swaggerDoc":"","x":250,"y":360,"wires":[["3b87e219.ef2f5e","6db0a94a.018138"]]},{"id":"3b87e219.ef2f5e","type":"file in","z":"a67af8e0.5af0b8","name":"","filename":"/tmp/out.png","format":"","chunk":false,"sendError":false,"x":510,"y":360,"wires":[["9056c201.fdbf4","5844ccc6.b09ba4"]]},{"id":"ab16637a.ef22f","type":"http response","z":"a67af8e0.5af0b8","name":"","statusCode":"200","headers":{},"x":1020,"y":380,"wires":[]},{"id":"9056c201.fdbf4","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":300,"wires":[]},{"id":"5844ccc6.b09ba4","type":"change","z":"a67af8e0.5af0b8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[["ab16637a.ef22f"]]},{"id":"e0d2fe51.a0561","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":200,"wires":[]},{"id":"e6b1acbc.68d3","type":"ui_dropdown","z":"a67af8e0.5af0b8","name":"","label":"Select the patient","tooltip":"","place":"Select ","group":"c3518e54.fef6f","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1190,"y":540,"wires":[["42e3de4a.bcdf8","d9d5b8f8.0ac7e8"]]},{"id":"42e3de4a.bcdf8","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":520,"wires":[]},{"id":"d12d55f7.4aea08","type":"ui_numeric","z":"a67af8e0.5af0b8","name":"","label":"Number of clusters","tooltip":"","group":"c3518e54.fef6f","order":3,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"999","step":1,"x":510,"y":640,"wires":[["e2de5371.a8894"]]},{"id":"8b369865.2ad208","type":"ui_switch","z":"a67af8e0.5af0b8","name":"","label":"Enable 3D","tooltip":"Default graphs are in two dimensions","group":"c3518e54.fef6f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":720,"wires":[["40f9f452.e11d1c"]]},{"id":"e2de5371.a8894","type":"change","z":"a67af8e0.5af0b8","name":"","rules":[{"t":"set","p":"clusters","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":640,"wires":[[]]},{"id":"40f9f452.e11d1c","type":"change","z":"a67af8e0.5af0b8","name":"","rules":[{"t":"set","p":"dimensions","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":720,"wires":[[]]},{"id":"d9d5b8f8.0ac7e8","type":"change","z":"a67af8e0.5af0b8","name":"","rules":[{"t":"set","p":"id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":620,"wires":[[]]},{"id":"cd8b32c.dc8d9d","type":"function","z":"a67af8e0.5af0b8","name":"","func":"cl = flow.get(\"clusters\");\ndim = flow.get(\"dimensions\");\nid = flow.get(\"id\");\nall = flow.get(\"all\");\n\nall = all ? \"cluster\" : \"last\";\n\nif(dim === false)\n    dim = 2;\nelse\n    dim = 3;\n    \nif(id === \"all\")\n    id = \"\"\n    \nmsg.payload = `/data/pyScripts/env/bin/python /data/pyScripts/giomi-ai/main.py ${dim} ${cl} ${id} ${all}`;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["4ff7498c.6f4f18","40254104.346c9"]]},{"id":"86f01ca8.740bd","type":"inject","z":"a67af8e0.5af0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["cd8b32c.dc8d9d"]]},{"id":"4ff7498c.6f4f18","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":220,"wires":[]},{"id":"6db0a94a.018138","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":440,"wires":[]},{"id":"e0f26185.8a2e9","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":160,"wires":[]},{"id":"556f9fb1.04b42","type":"inject","z":"a67af8e0.5af0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":570,"y":20,"wires":[[]]},{"id":"23d32d2d.794052","type":"function","z":"a67af8e0.5af0b8","name":"","func":"msg.payload = new Date().getTime().toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["1ace34d1.ac01eb","6eb1b1bc.c9b35"]]},{"id":"1c2d06d6.06f129","type":"ui_switch","z":"a67af8e0.5af0b8","name":"","label":"Last or All","tooltip":"Default graphs are related to the last sample","group":"c3518e54.fef6f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":800,"wires":[["92ad26e.a0a1fd8"]]},{"id":"92ad26e.a0a1fd8","type":"change","z":"a67af8e0.5af0b8","name":"","rules":[{"t":"set","p":"all","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":800,"wires":[[]]},{"id":"eef49384.17821","type":"subflow:e9ef879c.b78f88","z":"a67af8e0.5af0b8","name":"","x":970,"y":540,"wires":[["e6b1acbc.68d3","6da2be99.54386"]]},{"id":"6da2be99.54386","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":700,"wires":[]},{"id":"db52a9f4.f314a8","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":100,"wires":[]},{"id":"31b5f67f.6ab97a","type":"debug","z":"e9ef879c.b78f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1730,"y":160,"wires":[]},{"id":"78fb8140.11e5b","type":"ui_dropdown","z":"632b2780.3d1068","name":"","label":"Select the patient","tooltip":"","place":"Select ","group":"a66d6f36.adc66","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1110,"y":100,"wires":[["9539c7d8.a6ec68","edfde491.ceb348"]]},{"id":"9539c7d8.a6ec68","type":"debug","z":"632b2780.3d1068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1310,"y":80,"wires":[]},{"id":"edfde491.ceb348","type":"change","z":"632b2780.3d1068","name":"","rules":[{"t":"set","p":"id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":160,"wires":[[]]},{"id":"9ba50e8c.e9b62","type":"ui_date_picker","z":"632b2780.3d1068","name":"","label":"First date","group":"a66d6f36.adc66","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":430,"y":200,"wires":[["62af402a.8c733"]]},{"id":"62af402a.8c733","type":"change","z":"632b2780.3d1068","name":"","rules":[{"t":"set","p":"date1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[[]]},{"id":"adf1e8aa.49c338","type":"ui_date_picker","z":"632b2780.3d1068","name":"","label":"Second date","group":"a66d6f36.adc66","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":430,"y":260,"wires":[["9011f8bf.0e5d78"]]},{"id":"9011f8bf.0e5d78","type":"change","z":"632b2780.3d1068","name":"","rules":[{"t":"set","p":"date2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":260,"wires":[[]]},{"id":"2f3d2c26.8b0894","type":"ui_template","z":"632b2780.3d1068","group":"a66d6f36.adc66","name":"","order":5,"width":0,"height":0,"format":"<form>\n    <input type=\"button\" id=\"download\" value=\"Download\" class=\"ng-hide\">\n    <label for=\"download\" class=\"md-raised md-button md-ink-ripple\">Download</label>\n</form>\n\n<script>\n    $(\"#download\").on('click', () => {\n        $.ajax({\n           url: '/generate',\n           type: 'POST',\n           success: function() {\n               window.location = '/download'\n           }\n        });\n    })\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":400,"wires":[[]]},{"id":"85dafa76.6707e8","type":"http in","z":"632b2780.3d1068","name":"","url":"/generate","method":"post","upload":false,"swaggerDoc":"","x":110,"y":520,"wires":[["1a33cf62.8e64f1"]]},{"id":"1a33cf62.8e64f1","type":"function","z":"632b2780.3d1068","name":"","func":"const moment = global.get('moment');\n\nlet date1 = moment(flow.get('date1') || Date.now()).format('DD-MM-YYYY');\nlet date2 = moment(flow.get('date2') || Date.now()).format('DD-MM-YYYY');\n\nlet pid = flow.get('id');\n\nmsg.payload = pid + \" \" + date1 + \" \" + date2;\n\nflow.set('msgBackup', msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["5c73c787.d906f8"]]},{"id":"5c73c787.d906f8","type":"exec","z":"632b2780.3d1068","command":"/data/pyScripts/env/bin/python /data/pyScripts/giomi-ai/xlsxgen.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":600,"wires":[[],[],["8732a7f3.498468","b2d8eb2.48a5318"]]},{"id":"65629646.e01888","type":"http response","z":"632b2780.3d1068","name":"","statusCode":"200","headers":{},"x":880,"y":720,"wires":[]},{"id":"9fbb0b4d.b4d128","type":"http in","z":"632b2780.3d1068","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":150,"y":820,"wires":[["aaec2aa0.c0a998"]]},{"id":"aaec2aa0.c0a998","type":"file in","z":"632b2780.3d1068","name":"","filename":"/data/pyScripts/giomi-ai/out.xlsx","format":"","chunk":false,"sendError":false,"x":450,"y":820,"wires":[["d4b6e9c3.eeee68"]]},{"id":"d4b6e9c3.eeee68","type":"http response","z":"632b2780.3d1068","name":"","statusCode":"200","headers":{"Content-Disposition":"attachment; filename=report.xlsx"},"x":680,"y":820,"wires":[]},{"id":"8732a7f3.498468","type":"debug","z":"632b2780.3d1068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":480,"wires":[]},{"id":"b2d8eb2.48a5318","type":"function","z":"632b2780.3d1068","name":"","func":"msg = flow.get('msgBackup');\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":680,"wires":[["65629646.e01888"]]},{"id":"ae4e2d6.fa619d","type":"debug","z":"632b2780.3d1068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":360,"wires":[]},{"id":"19f2b840.bb2548","type":"ui_ui_control","z":"f4361098.cb669","name":"","x":100,"y":140,"wires":[["475f9eab.2c1d4"]]},{"id":"475f9eab.2c1d4","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":280,"y":160,"wires":[]},{"id":"14c176d9.c50819","type":"ui_ui_control","z":"a67af8e0.5af0b8","name":"","x":620,"y":540,"wires":[["bf542fa0.71d3a"]]},{"id":"428f68d4.35e778","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":960,"wires":[]},{"id":"bf542fa0.71d3a","type":"switch","z":"a67af8e0.5af0b8","name":"","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":540,"wires":[["eef49384.17821"]]},{"id":"fdf99743.b21ac8","type":"ui_ui_control","z":"f4361098.cb669","name":"","x":60,"y":60,"wires":[["e710031b.90518"]]},{"id":"e710031b.90518","type":"switch","z":"f4361098.cb669","name":"","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":60,"wires":[["131924fa.be96db"]]},{"id":"df839ab4.4cf778","type":"ui_ui_control","z":"632b2780.3d1068","name":"","x":440,"y":100,"wires":[["5a962fcf.c5844"]]},{"id":"5a962fcf.c5844","type":"switch","z":"632b2780.3d1068","name":"","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":100,"wires":[["896a0bd5.ae7318"]]},{"id":"896a0bd5.ae7318","type":"subflow:e9ef879c.b78f88","z":"632b2780.3d1068","name":"","x":790,"y":100,"wires":[["78fb8140.11e5b"]]},{"id":"a7d26ba3.ddf628","type":"flogger","z":"fae45be8.323808","name":"","logfile":"temperature.log","inputchoice":"object","inputobject":"payload","inputobjectType":"msg","inputmoustache":"Recieved payload {{payload}} and topic {{topic}}","loglevel":"INFO","logconfig":"9d5b44e6.ec70f8","sendpane":true,"x":270,"y":80,"wires":[[]]},{"id":"dfb4e5f7.e9bc78","type":"flogger","z":"fae45be8.323808","name":"","logfile":"weight.log","inputchoice":"object","inputobject":"payload","inputobjectType":"msg","inputmoustache":"Recieved payload {{payload}} and topic {{topic}}","loglevel":"INFO","logconfig":"9d5b44e6.ec70f8","sendpane":true,"x":170,"y":260,"wires":[[]]},{"id":"6dcaf284.14026c","type":"flogger","z":"fae45be8.323808","name":"","logfile":"pulse.log","inputchoice":"object","inputobject":"payload","inputobjectType":"msg","inputmoustache":"Recieved payload {{payload}} and topic {{topic}}","loglevel":"INFO","logconfig":"9d5b44e6.ec70f8","sendpane":true,"x":190,"y":500,"wires":[[]]},{"id":"b1839a08.4a2508","type":"flogger","z":"fae45be8.323808","name":"","logfile":"glucose.log","inputchoice":"object","inputobject":"payload","inputobjectType":"msg","inputmoustache":"Recieved payload {{payload}} and topic {{topic}}","loglevel":"INFO","logconfig":"9d5b44e6.ec70f8","sendpane":true,"x":170,"y":740,"wires":[[]]},{"id":"d9d0240b.5874d8","type":"flogger","z":"fae45be8.323808","name":"","logfile":"pressure.log","inputchoice":"object","inputobject":"payload","inputobjectType":"msg","inputmoustache":"Recieved payload {{payload}} and topic {{topic}}","loglevel":"INFO","logconfig":"9d5b44e6.ec70f8","sendpane":true,"x":130,"y":1040,"wires":[[]]},{"id":"6eb1b1bc.c9b35","type":"ui_template","z":"a67af8e0.5af0b8","group":"4b9b9528.89b01c","name":"","order":1,"width":"15","height":"15","format":"<img src=\"/out.png?{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":100,"wires":[[]]},{"id":"4ea5d183.6fc55","type":"http in","z":"a67af8e0.5af0b8","name":"","url":"/out2.png","method":"get","upload":false,"swaggerDoc":"","x":310,"y":1240,"wires":[["76f000d7.4b4b6","8055677a.107298"]]},{"id":"76f000d7.4b4b6","type":"file in","z":"a67af8e0.5af0b8","name":"","filename":"/tmp/out2.png","format":"","chunk":false,"sendError":false,"x":580,"y":1240,"wires":[["ccbaa095.0e026"]]},{"id":"f027bd90.f4ba2","type":"http response","z":"a67af8e0.5af0b8","name":"","statusCode":"200","headers":{},"x":1080,"y":1260,"wires":[]},{"id":"ccbaa095.0e026","type":"change","z":"a67af8e0.5af0b8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1260,"wires":[["f027bd90.f4ba2"]]},{"id":"8055677a.107298","type":"debug","z":"a67af8e0.5af0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":1320,"wires":[]},{"id":"423ecf10.708fd","type":"ui_template","z":"f4361098.cb669","group":"51cbaf3f.a268","name":"","order":8,"width":"6","height":4,"format":"<div>\n    <form id=\"form-id\" action=\"/\" method=\"post\" enctype=\"multipart/form-data\">\n        <div id=\"auth\">\n            <label for=\"username\">Username</label>\n            <input type=\"text\"  id=\"username\">\n            <label for=\"password\">Password</label>\n            <input type=\"password\" id=\"password\">\n        </div>\n        <div id=\"file-div-id\" layout-margin layout-padding>\n            <input class=\"ng-hide\" type=\"file\" name=\"our-file\" id=\"file-id\" multiple='multiple'>\n            <label for=\"file-id\" class=\"md-raised md-button md-ink-ripple\">Choose a file</label>\n            <label id=\"filename\"> </label>\n        </div>\n        <div layout-margin layout-padding>\n            <input type=\"button\" value=\"Upload\" id=\"submit-id\" class=\"md-raised md-button md-ink-ripple\">\n        </div>\n    </form>\n    <div class=\"page-footer font-small\" id=\"footer\">\n        \n    </div>\n    \n    <style>\n        #footer {\n            background-color: #0094CE;\n            width: 100%;\n            color: #fff;\n            font-style: inherit;\n            font-variant: inherit;\n            font-family: inherit;\n            text-decoration: none;\n            margin-top: 63px;\n            padding-left: 6px;\n        }\n    </style>\n \n<script>\n    $( \"#file-id\" ).change(function() {\n      console.log($( \"#file-id\" ));\n      for (var i = 0; i < $('#file-id')[0].files.length; i++) {\n          name = $('#file-id')[0].files[i].name;\n          ext = name.substring(name.lastIndexOf('.') + 1); \n            if (ext === \"csv\" || ext === \"CSV\"){\n                $(\"#filename\").append(name);\n                $(\"#filename\").append('\\t');\n            }\n            else {\n                $('#file-id').val(null);\n                $('#footer').html('<i class=\"fa fa-exclamation-triangle\" aria-hidden=\"true\"></i> Please select .csv file');\n                $(\"#filename\").text(''); \n                // jQuery.ajax({\n                //     url: '/file-delete',\n                //     data: 0,\n                //     cache: false,\n                //     contentType: false,\n                //     processData: false,\n                //     method: 'POST',\n                //     type: 'POST', // For jQuery < 1.9\n                // });\n            }\n        }\n    });\n    $(\"#submit-id\").click(function() {\n        var username = $('#username').val();\n        var password = $('#password').val();\n\n        var formData = new FormData();\n        var filename = [];\n        console.log($('#file-id'))\n        for (var i = 0; i < $('#file-id')[0].files.length; i++) {\n            filename.push($('#file-id')[0].files[i].name);\n            console.log($('#file-id')[0].files[i].name)\n            formData.append('data', $('#file-id')[0].files[i])\n        }\n        \n        jQuery.ajax({\n            url: '/file-upload',\n            data: formData,\n            cache: false,\n            contentType: false,\n            processData: false,\n            method: 'POST',\n            type: 'POST', // For jQuery < 1.9\n            success: function(){\n                $('#file-id').val(null);\n                $('#footer').html('<i class=\"fa fa-check-circle\" aria-hidden=\"true\"></i> File loaded: ');\n                for (var i = 0; i < filename.length; i++) {\n                    $('#footer').append(filename[i] + '  ');\n                }\n                $('#footer').append('<span id=\"file-del\" title=\"Remove\"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></span>');\n                $('#file-del').click(function() {\n                    jQuery.ajax({\n                        url: '/file-delete',\n                        data: 0,\n                        cache: false,\n                        contentType: false,\n                        processData: false,\n                        method: 'POST',\n                        type: 'POST', // For jQuery < 1.9\n                    });\n                    $('#footer').html('');\n                });\n                $(\"#filename\").text('');\n            },\n            headers: {\n                'Authorization': 'Basic ' + btoa(`${username}:${password}`)\n            }\n        });\n    });\n</script>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":1420,"wires":[[]]},{"id":"248f066d.3a4e7a","type":"http in","z":"f4361098.cb669","name":"","url":"/file-upload","method":"post","upload":true,"swaggerDoc":"","x":454.4791259765625,"y":1444.4304809570312,"wires":[["4e427944.8152b8","298b0d3f.9da582","7c6e2d9a.a86ae4"]]},{"id":"7c6e2d9a.a86ae4","type":"function","z":"f4361098.cb669","name":"load .bin","func":"file = '/data/pyScripts/giomi-ai/data.csv';\n\nfor(var i = 0; i < msg.req.files.length; i++) {\n    msg1 = { filename: file,\n            payload: msg.req.files[i].buffer};\n    node.send(msg1);\n}","outputs":1,"noerr":0,"x":774.4791259765625,"y":1424.4304809570312,"wires":[["6a006107.d04ef"]]},{"id":"6a006107.d04ef","type":"file","z":"f4361098.cb669","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":944.4791259765625,"y":1404.4304809570312,"wires":[["bb9097b2.4690c8"]]},{"id":"4e427944.8152b8","type":"http response","z":"f4361098.cb669","name":"","statusCode":"","headers":{},"x":904.4791259765625,"y":1464.4304809570312,"wires":[]},{"id":"298b0d3f.9da582","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":634.4791259765625,"y":1384.4304809570312,"wires":[]},{"id":"bb9097b2.4690c8","type":"exec","z":"f4361098.cb669","command":"/data/pyScripts/env/bin/python /data/pyScripts/giomi-ai/lstm.py","addpay":false,"append":"train data.csv","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1350,"y":1400,"wires":[["18333875.0b7b98","ed4c1f8f.6e1a7"],["ed4c1f8f.6e1a7"],["ed4c1f8f.6e1a7"]]},{"id":"18333875.0b7b98","type":"function","z":"f4361098.cb669","name":"","func":"msg.payload = \"Training complete\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1500,"wires":[["d0a51428.4283f8"]]},{"id":"d0a51428.4283f8","type":"ui_text","z":"f4361098.cb669","group":"51cbaf3f.a268","order":1,"width":0,"height":0,"name":"","label":"Stato","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":1500,"wires":[]},{"id":"d5f98d48.22d0d","type":"switch","z":"f4361098.cb669","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":970,"y":260,"wires":[["ef397759.1a0c18"],["e5eec560.9ac838"],["95495686.3c5218"]]},{"id":"a22833c3.35f6","type":"ui_toast","z":"f4361098.cb669","position":"top right","displayTime":"3","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1510,"y":180,"wires":[]},{"id":"ef397759.1a0c18","type":"change","z":"f4361098.cb669","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Paziente non idoneo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":220,"wires":[["a22833c3.35f6"]]},{"id":"793a2037.563a1","type":"json","z":"f4361098.cb669","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":300,"wires":[["9820d4a1.4747c8","49678abc.e662c4","74802dbd.663f44","7c86b1b0.3472f","5642654e.be8e0c","a7d2952c.a67158","b764e6de.b62888","eac14610.5253c8","3640b7a7.b5cfd8","7460dbed.808274","bab8e6e3.1d4e08","81616d57.d5de4","3dfae63e.79147a"]]},{"id":"9820d4a1.4747c8","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[0]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":320,"wires":[["dc1067ff.279e38"]]},{"id":"dc1067ff.279e38","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":2,"width":0,"height":0,"name":"","label":"Patologie cardiache","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":320,"wires":[]},{"id":"49678abc.e662c4","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[1]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":367,"wires":[["adda6cb7.5676d"]]},{"id":"adda6cb7.5676d","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":3,"width":0,"height":0,"name":"","label":"Ipertensione","format":"{{msg.payload}}","layout":"row-spread","x":1590,"y":367,"wires":[]},{"id":"74802dbd.663f44","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[2]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":422,"wires":[["dfdeb558.f3f708"]]},{"id":"dfdeb558.f3f708","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":4,"width":0,"height":0,"name":"","label":"Patologie vascolari","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":422,"wires":[]},{"id":"7c86b1b0.3472f","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[3]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":476,"wires":[["8dcec45d.9f5368"]]},{"id":"8dcec45d.9f5368","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":5,"width":0,"height":0,"name":"","label":"Patologie respiratorie","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":476,"wires":[]},{"id":"5642654e.be8e0c","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[4]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":531,"wires":[["67b7c979.0e53a8"]]},{"id":"67b7c979.0e53a8","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":6,"width":0,"height":0,"name":"","label":"O.O.N.G.L.","format":"{{msg.payload}}","layout":"row-spread","x":1590,"y":531,"wires":[]},{"id":"a7d2952c.a67158","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[5]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":589,"wires":[["7f80d980.4c4988"]]},{"id":"7f80d980.4c4988","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":7,"width":0,"height":0,"name":"","label":"Apparato GI superiore","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":589,"wires":[]},{"id":"b764e6de.b62888","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[6]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":643,"wires":[["55bb5b3b.684624"]]},{"id":"55bb5b3b.684624","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":8,"width":0,"height":0,"name":"","label":"Apparato GI inferiore","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":643,"wires":[]},{"id":"eac14610.5253c8","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[7]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":697,"wires":[["ff78b62.0b9c048"]]},{"id":"ff78b62.0b9c048","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":9,"width":0,"height":0,"name":"","label":"Patologie epatiche","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":697,"wires":[]},{"id":"3640b7a7.b5cfd8","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[8]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":749,"wires":[["b466731b.ee3fa"]]},{"id":"b466731b.ee3fa","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":10,"width":0,"height":0,"name":"","label":"Patologie renali","format":"{{msg.payload}}","layout":"row-spread","x":1600,"y":749,"wires":[]},{"id":"7460dbed.808274","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[9]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":800,"wires":[["bfb45bb7.140838"]]},{"id":"bfb45bb7.140838","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":11,"width":0,"height":0,"name":"","label":"Patologie genito-urinarie","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":800,"wires":[]},{"id":"bab8e6e3.1d4e08","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[10]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":840,"wires":[["9072012b.6d0ba"]]},{"id":"9072012b.6d0ba","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":12,"width":0,"height":0,"name":"","label":"Sistema muscolo-scheletro-cute","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":840,"wires":[]},{"id":"81616d57.d5de4","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[11]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":880,"wires":[["a2401d67.04b34"]]},{"id":"a2401d67.04b34","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":13,"width":0,"height":0,"name":"","label":"Patologie sistema nervoso centrale e periferico (no demenza)","format":"{{msg.payload}}","layout":"row-spread","x":1740,"y":880,"wires":[]},{"id":"3dfae63e.79147a","type":"function","z":"f4361098.cb669","name":"","func":"output = parseInt(msg.payload.output[12]);\nrischio = \"\";\n\nif (output === 0) rischio = \"assente\";\nelse if (output == 1) rischio =\"lieve\";\nelse if (output == 2) rischio =\"moderato\";\nelse if (output == 3) rischio =\"grave\";\nelse if (output == 4) rischio =\"molto grave\";\n\nmsg.payload = \"Rischio \" + rischio;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":920,"wires":[["9d1b3405.a5e5d8"]]},{"id":"9d1b3405.a5e5d8","type":"ui_text","z":"f4361098.cb669","group":"1cdb563a.fda52a","order":14,"width":0,"height":0,"name":"","label":"Patologie psichiatriche-comportamentali (include demenza, depressione, ansia, agitazione, psicosi)","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":920,"wires":[]},{"id":"ed4c1f8f.6e1a7","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":1560,"wires":[]},{"id":"e70bb000.69462","type":"inject","z":"f4361098.cb669","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1580,"wires":[["64d92dcc.6acf64"]]},{"id":"6d47c165.f8722","type":"debug","z":"f4361098.cb669","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1580,"wires":[]},{"id":"64d92dcc.6acf64","type":"function","z":"f4361098.cb669","name":"","func":"msg.payload = context.global.process.env.DASHBOARD_USERNAME\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1580,"wires":[["6d47c165.f8722"]]},{"id":"95495686.3c5218","type":"function","z":"f4361098.cb669","name":"","func":"msg.payload = msg.payload.replace(/\\'/g, '\"')\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":320,"wires":[["793a2037.563a1"]]},{"id":"ffcd18d9.1aa3b8","type":"debug","z":"e9ef879c.b78f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":160,"wires":[]},{"id":"8e022b8c.c44128","type":"file in","z":"f1b3d4cb.0d1cc8","name":"","filename":"/data/endpoints.json","format":"utf8","chunk":false,"sendError":false,"x":210,"y":160,"wires":[["603caaad.816fd4"]]},{"id":"603caaad.816fd4","type":"json","z":"f1b3d4cb.0d1cc8","name":"","property":"payload","action":"","pretty":false,"x":420,"y":160,"wires":[["6990621b.88bdec"]]},{"id":"9956734.ac6039","type":"ui_toast","z":"f4361098.cb669","position":"top right","displayTime":"3","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1510,"y":220,"wires":[]},{"id":"e5eec560.9ac838","type":"change","z":"f4361098.cb669","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Errore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["9956734.ac6039"]]}]
